# recherche

### Import libraries

In [5]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 100

import requests
from bs4 import BeautifulSoup
import re
from multiprocessing import Pool
import pandas as pd

import pandas as pd
import numpy as np
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen

import validators

# -------------------------------------------------

# -------------------------------------------------

# -------------------------------------------------

In [6]:
export = pd.read_csv("data_sample/20150218230000.export.CSV", sep="\t", header = None)
mentions = pd.read_csv("data_sample/20150218230000.mentions.CSV", sep="\t", header=None)
gkg = pd.read_csv("data_sample/20150218230000.gkg.csv", sep="\t", header=None)
gkg_translation = pd.read_csv("data_sample/20150218230000.translation.gkg.csv", sep="\t", header=None)
mentions_translation = pd.read_csv("data_sample/20150218230000.translation.mentions.CSV", sep="\t", header=None)
export_translation = pd.read_csv("data_sample/20150218230000.translation.export.CSV", sep="\t", header = None)

d_export = {
0 : "GlobalEventID",
1 : "Day",
2 : "MonthYear",
3 : "Year",
4 : "FractionDate",
5 : "Actor1Code",
6 : "Actor1Name",
7 : "Actor1CountryCode",
8 : "Actor1KnownGroupCode",
9 : "Actor1EthnicCode",
10 : "Actor1Religion1Code",
11 : "Actor1Religion2Code",
12 : "Actor1Type1Code",
13 : "Actor1Type2Code",
14 : "Actor1Type3Code",
15 : "Actor2Code",
16 : "Actor2Name",
17 : "Actor2CountryCode",
18 : "Actor2KnownGroupCode",
19 : "Actor2EthnicCode",
20 : "Actor2Religion1Code",
21 : "Actor2Religion2Code",
22 : "Actor2Type1Code",
23 : "Actor1Type2Code",
24 : "Actor1Type3Code",
25 : "IsRootEvent",
26 : "EventCode",
27 : "EventBaseCode",
28 : "EventRootCode",
29 : "QuadClass",
30 : "GoldsteinScale",
31 : "NumMentions",
32 : "NumSources",
33 : "NumArticles",
34 : "AvgTone",
35 : "Actor1Geo_Type",
36 : "Actor1Geo_Fullname",
37 : "Actor1Geo_CountryCode",
38 : "Actor1Geo_ADM1Code",
39 : "Actor1Geo_ADM2Code",
40 : "Actor1Geo_Lat",
41 : "Actor1Geo_Long",
42 : "Actor1Geo_FeatureID",
43 : "Actor2Geo_Type",
44 : "Actor2Geo_Fullname",
45 : "Actor2Geo_CountryCode",
46 : "Actor2Geo_ADM1Code",
47 : "Actor2Geo_ADM2Code",
48 : "Actor2Geo_Lat",
49 : "Actor2Geo_Long",
50 : "Actor2Geo_FeatureID",
51 : "ActionGeo_Type",
52 : "ActionGeo_Fullname",
53 : "ActionGeo_CountryCode",
54 : "ActionGeo_ADM1Code",
55 : "ActionGeo_ADM2Code",
56 : "ActionGeo_Lat",
57 : "ActionGeo_Long",
58 : "ActionGeo_FeatureID",
59 : "DATEADDED",
60 : "SOURCEURL"}

d_mentions = {
0  : 'GlobalEventID',
1  : 'EventTimeDate',
2  : 'MentionTimeDate',
3  : 'MentionType',
4  : 'MentionSourceName',
5  : 'MentionIdentifier',
6  : 'SentenceID',
7  : 'Actor1CharOffset',
8  : 'Actor2CharOffset',
9  : 'ActionCharOffset',
10  : 'InRawText',
11  : 'Confidence',
12  : 'MentionDocLen',
13  : 'MentionDocTone',
14  : 'MentionDocTranslationInfo',
15  : 'Extras',
}


d_gkg = {
0  : 'GKGRECORDID',
1  : 'V2.1DATE',
2  : 'V2SOURCECOLLECTIONIDENTIFIER',
3  : 'V2SOURCECOMMONNAME',
4  : 'V2DOCUMENTIDENTIFIER',
5  : 'V1COUNTS',
6  : 'V2.1COUNTS',
7  : 'V1THEMES',
8  : 'V2ENHANCEDTHEMES',
9  : 'V1LOCATIONS',
10  : 'V2ENHANCEDLOCATIONS',
11  : 'V1PERSONS',
12  : 'V2ENHANCEDPERSONS',
13  : 'V1ORGANIZATIONS',
14  : 'V2ENHANCEDORGANIZATIONS',
15  : 'V1.5TONE',
16  : 'V2.1ENHANCEDDATES',
17  : 'V2GCAM',
18  : 'V2.1SHARINGIMAGE',
19  : 'V2.1RELATEDIMAGES',
20  : 'V2.1SOCIALIMAGEEMBEDS',
21  : 'V2.1SOCIALVIDEOEMBEDS',
22  : 'V2.1QUOTATIONS',
23  : 'V2.1ALLNAMES',
24  : 'V2.1AMOUNTS',
25  : 'V2.1TRANSLATIONINFO',
26  : 'V2EXTRASXML',
}


export.rename(columns=d_export, inplace=True)
mentions.rename(columns=d_mentions, inplace=True)
gkg.rename(columns=d_gkg, inplace=True)

gkg_translation.rename(columns=d_gkg, inplace=True)
mentions_translation.rename(columns=d_mentions, inplace=True)
export_translation.rename(columns=d_export, inplace=True)

# -------------------------------------------------

# -------------------------------------------------

# -------------------------------------------------

# Lecture ZIP - CSV

In [21]:
response = requests.get("http://data.gdeltproject.org/gdeltv2/masterfilelist.txt")
content = response.content.decode("utf-8") 
l = content.split('\n')[95:116]

liste = list()

for i in l: liste.append(i.split(" ")[-1])

In [22]:
df = pd.DataFrame(liste, columns=['url'])

df['annee'] = df['url'].apply(lambda x : x.split("/")[-1].split(".")[0][:4])
df['mois'] = df['url'].apply(lambda x : x.split("/")[-1].split(".")[0][4:6])
df['jour'] = df['url'].apply(lambda x : x.split("/")[-1].split(".")[0][6:8])
df['heur'] = df['url'].apply(lambda x : x.split("/")[-1].split(".")[0][8:10])
df['minute'] = df['url'].apply(lambda x : x.split("/")[-1].split(".")[0][10:12])

df['type_csv'] = df['url'].apply(lambda x : x.lower().split(".csv")[0].split(".")[-1])

df

,url,annee,mois,jour,heur,minute,type_csv
0,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,06,45,gkg
1,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,15,export
2,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,15,mentions
3,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,15,gkg
4,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,45,export
5,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,45,mentions
6,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,45,gkg
7,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,08,00,export
8,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,08,00,mentions
9,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,08,00,gkg
10,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,30,export
11,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,30,mentions
12,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,30,gkg
13,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,export
14,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,mentions
15,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,gkg
16,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,export
17,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,mentions
18,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,gkg
19,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,30,export
20,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,30,mentions

In [23]:
p = 0

for i in liste:

    try:
        url = urlopen(i)
        print(p, i)
        pass

    except:
        print(p, i, "problème")
        pass
        
    p+=1

0 http://data.gdeltproject.org/gdeltv2/20150219064500.gkg.csv.zip
1 http://data.gdeltproject.org/gdeltv2/20150219071500.export.CSV.zip
2 http://data.gdeltproject.org/gdeltv2/20150219071500.mentions.CSV.zip
3 http://data.gdeltproject.org/gdeltv2/20150219071500.gkg.csv.zip
4 http://data.gdeltproject.org/gdeltv2/20150219074500.export.CSV.zip problème
5 http://data.gdeltproject.org/gdeltv2/20150219074500.mentions.CSV.zip problème
6 http://data.gdeltproject.org/gdeltv2/20150219074500.gkg.csv.zip problème
7 http://data.gdeltproject.org/gdeltv2/20150219080000.export.CSV.zip problème
8 http://data.gdeltproject.org/gdeltv2/20150219080000.mentions.CSV.zip problème
9 http://data.gdeltproject.org/gdeltv2/20150219080000.gkg.csv.zip problème
10 http://data.gdeltproject.org/gdeltv2/20150219093000.export.CSV.zip
11 http://data.gdeltproject.org/gdeltv2/20150219093000.mentions.CSV.zip
12 http://data.gdeltproject.org/gdeltv2/20150219093000.gkg.csv.zip
13 http://data.gdeltproject.org/gdeltv2/20150219094500.export.CSV.zip
14 http://data.gdeltproject.org/gdeltv2/20150219094500.mentions.CSV.zip
15 http://data.gdeltproject.org/gdeltv2/20150219094500.gkg.csv.zip
16 http://data.gdeltproject.org/gdeltv2/20150219101500.export.CSV.zip
17 http://data.gdeltproject.org/gdeltv2/20150219101500.mentions.CSV.zip
18 http://data.gdeltproject.org/gdeltv2/20150219101500.gkg.csv.zip
19 http://data.gdeltproject.org/gdeltv2/20150219103000.export.CSV.zip
20 http://data.gdeltproject.org/gdeltv2/20150219103000.mentions.CSV.zip

In [24]:
def verify_url(url):
    try:
        url = urlopen(url)
        return True
        pass

    except:
        return False
        pass

In [77]:
i = 'http://data.gdeltproject.org/gdeltv2/20150219094500.gkg.csv.zip'

url = urlopen(i)

k = i.split("/")[-1].split(".zip")[0]

zipfile = ZipFile(BytesIO(url.read()))

u = zipfile.open(k)

u

# pd.read_csv(u)

# FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t", engine='python')

In [81]:
import pandas.io.common

i = 'http://data.gdeltproject.org/gdeltv2/20150219094500.gkg.csv.zip'

url = urlopen(i)
k = i.split("/")[-1].split(".zip")[0]
zipfile = ZipFile(BytesIO(url.read()))
u = zipfile.open(k)

try:
    pd.read_csv(zipfile)
except pandas.io.common.EmptyDataError:
    print (zipfile, " is empty")

AttributeError: module 'pandas.io.common' has no attribute 'EmptyDataError'

In [25]:
df['work'] = df['url'].apply(lambda x : verify_url(x)) ; df

,url,annee,mois,jour,heur,minute,type_csv,work
0,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,06,45,gkg,True
1,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,15,export,True
2,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,15,mentions,True
3,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,15,gkg,True
4,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,45,export,False
5,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,45,mentions,False
6,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,45,gkg,False
7,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,08,00,export,False
8,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,08,00,mentions,False
9,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,08,00,gkg,False
10,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,30,export,True
11,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,30,mentions,True
12,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,30,gkg,True
13,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,export,True
14,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,mentions,True
15,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,gkg,True
16,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,export,True
17,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,mentions,True
18,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,gkg,True
19,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,30,export,True
20,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,30,mentions,True

In [26]:
for i in range(df.shape[0]):
    if df.iloc[i,6] == "gkg" and df.iloc[i,7] == False:
        df.iloc[i+1,7] = False
        df.iloc[i+2,7] = False
        
    elif df.iloc[i,6] == "export" and df.iloc[i,7] == False:
        df.iloc[i-1,7] = False
        df.iloc[i+1,7] = False
    
    elif df.iloc[i,6] == "mentions" and df.iloc[i,7] == False:
        df.iloc[i-2,7] = False
        df.iloc[i-1,7] = False

In [27]:
df

,url,annee,mois,jour,heur,minute,type_csv,work
0,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,06,45,gkg,True
1,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,15,export,True
2,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,15,mentions,True
3,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,15,gkg,False
4,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,45,export,False
5,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,45,mentions,False
6,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,45,gkg,False
7,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,08,00,export,False
8,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,08,00,mentions,False
9,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,08,00,gkg,False
10,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,30,export,False
11,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,30,mentions,False
12,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,30,gkg,True
13,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,export,True
14,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,mentions,True
15,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,gkg,True
16,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,export,True
17,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,mentions,True
18,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,gkg,True
19,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,30,export,True
20,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,30,mentions,True

In [28]:
df = df.loc[df['work']!=False]
df

,url,annee,mois,jour,heur,minute,type_csv,work
0,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,06,45,gkg,True
1,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,15,export,True
2,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,07,15,mentions,True
12,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,30,gkg,True
13,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,export,True
14,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,mentions,True
15,http://data.gdeltproject.org/gdeltv2/201502190...,2015,02,19,09,45,gkg,True
16,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,export,True
17,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,mentions,True
18,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,15,gkg,True
19,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,30,export,True
20,http://data.gdeltproject.org/gdeltv2/201502191...,2015,02,19,10,30,mentions,True

In [33]:
df['url'].tolist()

['http://data.gdeltproject.org/gdeltv2/20150219064500.gkg.csv.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219071500.export.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219071500.mentions.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219093000.gkg.csv.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219094500.export.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219094500.mentions.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219094500.gkg.csv.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219101500.export.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219101500.mentions.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219101500.gkg.csv.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219103000.export.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219103000.mentions.CSV.zip']

In [51]:
liste_de_dataframe = list()

# liste = df['url'].tolist()

for i in liste:
    url = urlopen(i)

    k = i.split("/")[-1].split(".zip")[0]
    
    zipfile = ZipFile(BytesIO(url.read()))
    FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t")
    liste_de_dataframe.append(FFdata)

liste_de_dataframe

[             0         1       2     3          4    5        6    7    8   \
 0     410412347  20140218  201402  2014  2014.1315  NaN      NaN  NaN  NaN
 1     410412348  20140218  201402  2014  2014.1315  NaN      NaN  NaN  NaN
 2     410412349  20140218  201402  2014  2014.1315  NaN      NaN  NaN  NaN
 3     410412350  20140218  201402  2014  2014.1315  NaN      NaN  NaN  NaN
 4     410412351  20140218  201402  2014  2014.1315  NaN      NaN  NaN  NaN
 ...         ...       ...     ...   ...        ...  ...      ...  ...  ...
 2266  410414613  20150218  201502  2015  2015.1315  ran     RANA  NaN  NaN
 2267  410414614  20150218  201502  2015  2015.1315  ran     RANA  NaN  NaN
 2268  410414615  20150218  201502  2015  2015.1315  ran     RANA  NaN  NaN
 2269  410414616  20150218  201502  2015  2015.1315  ran     RANA  NaN  NaN
 2270  410414617  20150218  201502  2015  2015.1315  tib  TIBETAN  NaN  NaN

        9    10   11   12   13   14   15           16   17   18   19   20   21  \
 0     NaN  NaN  NaN  NaN  NaN  NaN  GOV    PRESIDENT  NaN  NaN  NaN  NaN  NaN
 1     NaN  NaN  NaN  NaN  NaN  NaN  IND       MUMBAI  IND  NaN  NaN  NaN  NaN
 2     NaN  NaN  NaN  NaN  NaN  NaN  NZL         KIWI  NZL  NaN  NaN  NaN  NaN
 3     NaN  NaN  NaN  NaN  NaN  NaN  NZL         KIWI  NZL  NaN  NaN  NaN  NaN
 4     NaN  NaN  NaN  NaN  NaN  NaN  USA  LOS ANGELES  USA  NaN  NaN  NaN  NaN
 ...   ...  ...  ...  ...  ...  ...  ...          ...  ...  ...  ...  ...  ...
 2266  ran  NaN  NaN  NaN  NaN  NaN  NaN          NaN  NaN  NaN  NaN  NaN  NaN
 2267  ran  NaN  NaN  NaN  NaN  NaN  NaN          NaN  NaN  NaN  NaN  NaN  NaN
 2268  ran  NaN  NaN  NaN  NaN  NaN  PAK     PAKISTAN  PAK  NaN  NaN  NaN  NaN
 2269  ran  NaN  NaN  NaN  NaN  NaN  PAK     PAKISTAN  PAK  NaN  NaN  NaN  NaN
 2270  tib  NaN  NaN  NaN  NaN  NaN  NaN          NaN  NaN  NaN  NaN  NaN  NaN

        22   23  24  25  26  27  28  29   30  31  32  33        34  35  \
 0     GOV  NaN NaN   0  43  43   4   1  2.8   5   1   5 -4.477612   0
 1     NaN  NaN NaN   1  42  42   4   1  1.9   5   1   5  2.078522   0
 2     NaN  NaN NaN   1  42  42   4   1  1.9   1   1   1  7.517084   0
 3     NaN  NaN NaN   1  42  42   4   1  1.9   2   1   2  7.517084   0
 4     NaN  NaN NaN   1  42  42   4   1  1.9  10   1  10  0.000000   0
 ...   ...  ...  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..       ...  ..
 2266  NaN  NaN NaN   1  40  40   4   1  1.0   6   1   6 -3.703704   4
 2267  NaN  NaN NaN   1  46  46   4   1  7.0   6   1   6 -3.703704   4
 2268  NaN  NaN NaN   1  40  40   4   1  1.0   2   1   2 -3.703704   4
 2269  NaN  NaN NaN   1  46  46   4   1  7.0   2   1   2 -3.703704   4
 2270  NaN  NaN NaN   1  10  10   1   1  0.0  10   1  10 -0.411523   4

                                         36   37    38     39       40  \
 0                                      NaN  NaN   NaN    NaN      NaN
 1                                      NaN  NaN   NaN    NaN      NaN
 2                                      NaN  NaN   NaN    NaN      NaN
 3                                      NaN  NaN   NaN    NaN      NaN
 4                                      NaN  NaN   NaN    NaN      NaN
 ...                                    ...  ...   ...    ...      ...
 2266        Islamabad, Islamabad, Pakistan   PK  PK08  23674  33.7000
 2267  Agha Muhammad, Balochistan, Pakistan   PK  PK02   3606  30.5699
 2268        Islamabad, Islamabad, Pakistan   PK  PK08  23674  33.7000
 2269  Agha Muhammad, Balochistan, Pakistan   PK  PK02   3606  30.5699
 2270                   Amdo, Xizang, China   CH  CH14  13213  32.3333

            41        42  43                                    44   45    46  \
 0         NaN       NaN   4  Waterkloof, Free State, South Africa   SF  SF03
 1         NaN       NaN   4            Mumbai, Maharashtra, India   IN  IN16
 2         NaN       NaN   1                           New Zealand   NZ    NZ
 3         NaN       NaN   1                           New Zealand   NZ    NZ
 4         NaN       NaN   2                  Idaho, United States   US  USID
 ...       ...       ...  ..                                   ...  ...   ...
 2266  73.1667  -2762812   0                                   NaN  NaN   NaN
 2267  66.5961    356668   0                                   NaN  NaN   NaN
 2268  73.1667  -2762812   4        Islamabad, Islamabad, Pakistan   PK  PK08
 2269  66.5961    356668   4        Mohin-Jo-Daro, Sindh, Pakistan   PK  PK05
 2270  91.6667  -1920650   0                                   NaN  NaN   NaN

          47       48        49        50  51  \
 0     77359 -30.3098   25.2971  -1299321   4
 1     70184  18.9750   72.8258  -2092174   4
 2       NaN -41.0000  174.0000        NZ   4
 3       NaN -41.0000  174.0000        NZ   1
 4       NaN  44.2394 -114.5100        ID   2
 ...     ...      ...       ...       ...  ..
 2266    NaN      NaN       NaN       NaN   4
 2267    NaN      NaN       NaN       NaN   4
 2268  23674  33.7000   73.1667  -2762812   4
 2269  23687  27.3287   68.1325  -2769374   4
 2270    NaN      NaN       NaN       NaN   4

                                         52  53    54     55       56  \
 0     Waterkloof, Free State, South Africa  SF  SF03  77359 -30.3098
 1              Bengaluru, Karnataka, India  IN  IN19  70159  12.9833
 2      Great Southern, Victoria, Australia  AS  AS07   5387 -36.0667
 3                              New Zealand  NZ    NZ    NaN -41.0000
 4                     Idaho, United States  US  USID    NaN  44.2394
 ...                                    ...  ..   ...    ...      ...
 2266        Islamabad, Islamabad, Pakistan  PK  PK08  23674  33.7000
 2267  Agha Muhammad, Balochistan, Pakistan  PK  PK02   3606  30.5699
 2268        Islamabad, Islamabad, Pakistan  PK  PK08  23674  33.7000
 2269  Agha Muhammad, Balochistan, Pakistan  PK  PK02   3606  30.5699
 2270                   Amdo, Xizang, China  CH  CH14  13213  32.3333

             57        58              59  \
 0      25.2971  -1299321  20150218230000
 1      77.5833  -2090174  20150218230000
 2     146.4830  -1576477  20150218230000
 3     174.0000        NZ  20150218230000
 4    -114.5100        ID  20150218230000
 ...        ...       ...             ...
 2266   73.1667  -2762812  20150218230000
 2267   66.5961    356668  20150218230000
 2268   73.1667  -2762812  20150218230000
 2269   66.5961    356668  20150218230000
 2270   91.6667  -1920650  20150218230000

                                                      60
 0     http://www.dailymaverick.co.za/article/2015-02...
 1     http://timesofindia.indiatimes.com/city/bengal...
 2     http://www.voxy.co.nz/entertainment/coast-new-...
 3     http://www.voxy.co.nz/entertainment/coast-new-...
 4     http://www.eastidahonews.com/2015/02/neil-patr...
 ...                                                 ...
 2266  http://www.dailytimes.com.pk/national/19-Feb-2...
 2267  http://www.dailytimes.com.pk/national/19-Feb-2...
 2268  http://www.dailytimes.com.pk/national/19-Feb-2...
 2269  http://www.dailytimes.com.pk/national/19-Feb-2...
 2270  http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...

 [2271 rows x 61 columns],
              0               1               2   3                     4   \
 0     410412347  20150218230000  20150218230000   1   dailymaverick.co.za
 1     410412348  20150218230000  20150218230000   1        indiatimes.com
 2     410412349  20150218230000  20150218230000   1            voxy.co.nz
 3     410412350  20150218230000  20150218230000   1            voxy.co.nz
 4     410412351  20150218230000  20150218230000   1     eastidahonews.com
 ...         ...             ...             ...  ..                   ...
 8457  410414615  20150218230000  20150218230000   1     dailytimes.com.pk
 8458  410414616  20150218230000  20150218230000   1     dailytimes.com.pk
 8459  410232648  20150218100000  20150218230000   1  suttonguardian.co.uk
 8460  410339294  20150218171500  20150218230000   1        edgeboston.com
 8461  410414617  20150218230000  20150218230000   1               bbg.gov

                                                      5   6     7     8     9   \
 0     http://www.dailymaverick.co.za/article/2015-02...  19    -1  4594  4634
 1     http://timesofindia.indiatimes.com/city/bengal...   2    -1   300   344
 2     http://www.voxy.co.nz/entertainment/coast-new-...   4    -1  1297  1232
 3     http://www.voxy.co.nz/entertainment/coast-new-...   4    -1  1298  1233
 4     http://www.eastidahonews.com/2015/02/neil-patr...   1    -1   103   122
 ...                                                 ...  ..   ...   ...   ...
 8457  http://www.dailytimes.com.pk/national/19-Feb-2...   3   396   424   442
 8458  http://www.dailytimes.com.pk/national/19-Feb-2...   3   396   424   367
 8459  http://www.suttonguardian.co.uk/news/national/...   6  1870    -1  1803
 8460  http://www.edgeboston.com/entertainment/celebr...   2   454    -1   411
 8461  http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...   1   318    -1   345

       10   11    12        13  14  15
 0      1   50  6665 -4.477612 NaN NaN
 1      1   50  2541  2.078522 NaN NaN
 2      0   10  2576  7.517084 NaN NaN
 3      1   20  2576  7.517084 NaN NaN
 4      1  100  1432  0.000000 NaN NaN
 ...   ..  ...   ...       ...  ..  ..
 8457   0   20  1994 -3.703704 NaN NaN
 8458   0   20  1994 -3.703704 NaN NaN
 8459   1  100  5040 -0.738916 NaN NaN
 8460   1   50   858  6.250000 NaN NaN
 8461   1  100  1584 -0.411523 NaN NaN

 [8462 rows x 16 columns],
                       0               1   2                     3   \
 0       20150218230000-0  20150218230000   2        BBC Monitoring
 1       20150218230000-1  20150218230000   2        BBC Monitoring
 2       20150218230000-2  20150218230000   1              wjon.com
 3       20150218230000-3  20150218230000   1              wjol.com
 4       20150218230000-4  20150218230000   1      straitstimes.com
 ...                  ...             ...  ..                   ...
 3183  20150218230000-203  20150218230000   1  theaustralian.com.au
 3184  20150218230000-204  20150218230000   1             yahoo.com
 3185  20150218230000-205  20150218230000   1          france24.com
 3186  20150218230000-206  20150218230000   1                rri.ro
 3187  20150218230000-207  20150218230000   1            sfgate.com

                                                      4   \
 0          as listed in Russian /BBC Monitoring/(c) BBC
 1     Al-Sharq al-Awsat website, London/BBC Monitori...
 2     http://wjon.com/wjon-news-on-demand-wednesday-...
 3     http://www.wjol.com/common/more.php?m=15&r=3&i...
 4     http://www.straitstimes.com:80/news/world/unit...
 ...                                                 ...
 3183  http://www.theaustralian.com.au/business/finan...
 3184  http://finance.yahoo.com/news/chg-healthcare-s...
 3185  http://www.france24.com/en/20150218-un-issue-f...
 3186  http://www.rri.ro/en_gb/RadioRomaniaInternatio...
 3187  http://www.sfgate.com/business/article/Swiss-p...

                                                      5   \
 0     ARREST#400#political#4#Rossiya, Orenburgskaya ...
 1                                                   NaN
 2                                                   NaN
 3                                                   NaN
 4                                                   NaN
 ...                                                 ...
 3183                                                NaN
 3184                                                NaN
 3185             KILL#200##1#Liberia#LI#LI#6.5#-9.5#LI;
 3186                                                NaN
 3187                                                NaN

                                                      6   \
 0     ARREST#400#political#4#Rossiya, Orenburgskaya ...
 1                                                   NaN
 2                                                   NaN
 3                                                   NaN
 4                                                   NaN
 ...                                                 ...
 3183                                                NaN
 3184                                                NaN
 3185        KILL#200##1#Liberia#LI#LI#6.5#-9.5#LI#1821;
 3186                                                NaN
 3187                                                NaN

                                                      7   \
 0     TERROR;REBELS;TAX_ETHNICITY;TAX_ETHNICITY_UKRA...
 1     TAX_FNCACT;TAX_FNCACT_ENVOY;TAX_ETHNICITY;TAX_...
 2     MANMADE_DISASTER;MANMADE_DISASTER_WITHOUT_POWE...
 3     LEADER;TAX_FNCACT;TAX_FNCACT_GOVERNOR;TAX_POLI...
 4     DRONES;TAX_WORLDMAMMALS;TAX_WORLDMAMMALS_MICE;...
 ...                                                 ...
 3183  TAX_FNCACT;TAX_FNCACT_CHIEF;TAX_FNCACT_EXECUTI...
 3184  MEDICAL;TAX_WORLDLANGUAGES;TAX_WORLDLANGUAGES_...
 3185  TAX_DISEASE;TAX_DISEASE_EBOLA;TAX_WORLDFISH;TA...
 3186  TAX_FNCACT;TAX_FNCACT_AUTHOR;MEDIA_MSM;TAX_FNC...
 3187  TRIAL;TAX_FNCACT;TAX_FNCACT_PROSECUTORS;DRUG_T...

                                                      8   \
 0     TAX_FNCACT,2011;TAX_FNCACT,3449;TAX_FNCACT,381...
 1     IDEOLOGY,6790;IDEOLOGY,10592;KILL,1960;KILL,13...
 2                  MANMADE_DISASTER,91;POWER_OUTAGE,91;
 3     TAX_FNCACT,131;TAX_POLITICAL_PARTY,664;TAX_FNC...
 4     TAX_FNCACT,634;TAX_FNCACT,1248;TAX_FNCACT,907;...
 ...                                                 ...
 3183  TAX_FNCACT,552;TAX_ETHNICITY,1171;TAX_ETHNICIT...
 3184  GENERAL_HEALTH,1512;TAX_FNCACT,1339;TAX_FNCACT...
 3185  GENERAL_HEALTH,1311;MEDICAL,1311;TAX_DISEASE,1...
 3186  TAX_FNCACT,13378;MEDIA_MSM,478;MEDIA_MSM,1389;...
 3187  TAX_ETHNICITY,1135;TAX_ETHNICITY,1236;TAX_WORL...

                                                      9   \
 0     4#Budapest, Budapest, Hungary#RS#HU05#47.5#19....
 1     1#Qatar#SA#QA#25.5#51.25#QA;1#Syria#SA#SY#35#3...
 2                                                   NaN
 3     2#Wisconsin, United States#US#USWI#44.2563#-89...
 4     1#United States#US#US#38#-97#US;3#Miami, Flori...
 ...                                                 ...
 3183                       1#Australia#AS#AS#-27#133#AS
 3184                    1#United States#US#US#38#-97#US
 3185  1#Guinea#LI#GV#11#-10#GV;4#Freetown, Western A...
 3186                                                NaN
 3187  4#Geneva, Genè, Switzerland#SZ#SZ07#46.1956#6....

                                                      10  \
 0     4#Novorossiya, Primorskiy Kray, Russia#RS#RS59...
 1     1#Turks#SA#TU##39#35#TU#9059;1#Syrian#SA#SY##3...
 2                                                   NaN
 3     2#Wisconsin, United States#US#USWI##44.2563#-8...
 4     3#Miami, Florida, United States#US#USFL#FL086#...
 ...                                                 ...
 3183  1#Australian#AS#AS##-27#133#AS#1171;1#Australi...
 3184  1#America#US#US##38#-97#US#632;1#America#US#US...
 3185  1#Sierra Leone#LI#SL##8.5#-11.5#SL#179;1#Sierr...
 3186                                                NaN
 3187  1#French#SZ#FR##46#2#FR#1135;1#French#SZ#FR##4...

                                                      11  \
 0     petro poroshenko;arkadiy dvorkovich;gen aleksa...
 1     al-arab kobane;emrullah isler;nasirite alawite...
 2                                                   NaN
 3        michael madigan;rahm emanuel;jesus chuy garcia
 4                                        omid farokhzad
 ...                                                 ...
 3183                                       craig meller
 3184                                         scott beck
 3185                  david nabarro;laura taylor-pearce
 3186                        categorytype parentcategory
 3187                                     herve falciani

                                                      12  \
 0     Petro Poroshenko,2326;Arkadiy Dvorkovich,3483;...
 1     Al-Arab Kobane,4903;Emrullah Isler,77;Nasirite...
 2                                                   NaN
 3     Michael Madigan,147;Rahm Emanuel,313;Jesus Chu...
 4                                    Omid Farokhzad,885
 ...                                                 ...
 3183                                   Craig Meller,575
 3184                                     Scott Beck,945
 3185                                  David Nabarro,482
 3186  Categorytype Parentcategory,12207;Categorytype...
 3187                                Herve Falciani,1109

                                                      13  \
 0                                               gazprom
 1                       development party;united states
 2                                                   NaN
 3                                                   NaN
 4     columbia university medical centre;harvard med...
 ...                                                 ...
 3183                                                NaN
 3184    foundation medical staffing;healthcare services
 3185                                     united nations
 3186                                      group by page
 3187  bank suisse;international consortium of invest...

                                                      14  \
 0                                           Gazprom,666
 1     Development Party,3577;Development Party,3746;...
 2                                                   NaN
 3                                                   NaN
 4     Columbia University Medical Centre,680;Harvard...
 ...                                                 ...
 3183                                                NaN
 3184  Foundation Medical Staffing,1521;Healthcare Se...
 3185  United Nations,15;United Nations,54;United Nat...
 3186                                Group By Page,11360
 3187  Bank Suisse,296;International Consortium Of In...

                                                      15  \
 0     -5.3475935828877,2.13903743315508,7.4866310160...
 1     -0.54054054054054,3.82239382239382,4.362934362...
 2          0,0,0,0,29.7029702970297,0.99009900990099,93
 3     -4.58715596330275,1.8348623853211,6.4220183486...
 4     -1.80505415162455,3.6101083032491,5.4151624548...
 ...                                                 ...
 3183  6.06060606060606,6.06060606060606,0,6.06060606...
 3184  9.03225806451613,9.03225806451613,0,9.03225806...
 3185  -3.63636363636364,1.81818181818182,5.454545454...
 3186  -0.679941719281204,0,0.679941719281204,0.67994...
 3187  -3.40136054421769,0.680272108843537,4.08163265...

                                                      16  \
 0                                                   NaN
 1                                                   NaN
 2                                                   NaN
 3                                                   NaN
 4                                          4#2#18#0#706
 ...                                                 ...
 3183  4#12#31#0#17;4#4#10#0#253;4#3#3#0#297;1#0#0#20...
 3184                        4#2#18#0#36;1#0#0#1979#1351
 3185                                                NaN
 3186                                                NaN
 3187  1#0#0#2007#1001;1#0#0#2008#1209;1#0#0#2012#156...

                                                      17  \
 0     wc:693,c1.1:1,c1.2:1,c12.1:43,c12.10:58,c12.11...
 1     wc:2376,c1.2:1,c1.4:7,c12.1:163,c12.10:276,c12...
 2     wc:93,c12.1:7,c12.10:10,c12.12:5,c12.13:4,c12....
 3     wc:103,c12.1:4,c12.10:13,c12.12:7,c12.13:6,c12...
 4     wc:255,c12.1:10,c12.10:28,c12.12:11,c12.13:7,c...
 ...                                                 ...
 3183  wc:300,c1.2:7,c12.1:8,c12.10:23,c12.12:3,c12.1...
 3184  wc:278,c1.2:4,c12.1:21,c12.10:22,c12.12:4,c12....
 3185  wc:307,c12.1:17,c12.10:30,c12.12:12,c12.13:14,...
 3186  wc:1695,c12.1:40,c12.10:54,c12.12:15,c12.13:1,...
 3187  wc:265,c12.1:8,c12.10:11,c12.12:5,c12.13:4,c12...


In [37]:
url = urlopen('http://data.gdeltproject.org/gdeltv2/20150218231500.mentions.CSV.zip')

zipfile = ZipFile(BytesIO(url.read()))
FFdata = pd.read_csv(zipfile.open('20150218231500.mentions.CSV'), header=None,on_bad_lines='skip', sep="\t")

In [47]:
import requests
response = requests.get("http://data.gdeltproject.org/gdeltv2/masterfilelist.txt")
content = response.content.decode("utf-8") 
l = content.split('\n')[:5]

liste = list()

for i in l:
    k = i.split(" ")[-1]
    liste.append(k)

In [66]:
liste1 = df['url'].tolist() ; liste1

['http://data.gdeltproject.org/gdeltv2/20150219064500.gkg.csv.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219071500.export.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219071500.mentions.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219093000.gkg.csv.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219094500.export.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219094500.mentions.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219094500.gkg.csv.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219101500.export.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219101500.mentions.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219101500.gkg.csv.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219103000.export.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150219103000.mentions.CSV.zip']

In [65]:
liste2 = liste ; liste2

['http://data.gdeltproject.org/gdeltv2/20150218230000.export.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150218230000.mentions.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150218230000.gkg.csv.zip',
 'http://data.gdeltproject.org/gdeltv2/20150218231500.export.CSV.zip',
 'http://data.gdeltproject.org/gdeltv2/20150218231500.mentions.CSV.zip']

In [71]:
p=0
for i in liste1:
    print(p,"!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
    p+=1
    url = urlopen(i)

    k = i.split("/")[-1].split(".zip")[0]
    
    zipfile = ZipFile(BytesIO(url.read()))
    FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t", engine='python')
#     print(FFdata)

0 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
1 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
2 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
3 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
4 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
5 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
6 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

EmptyDataError: No columns to parse from file

In [ ]:
for i in liste2:
    url = urlopen(i)

    k = i.split("/")[-1].split(".zip")[0]
    
    zipfile = ZipFile(BytesIO(url.read()))
    FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t", engine='python')
    print(FFdata)

# -------------------------------------------------

# -------------------------------------------------

# -------------------------------------------------

# Jointure

In [15]:
mt_MentionDocTranslationInfo = pd.DataFrame(mentions_translation[['GlobalEventID','MentionDocTranslationInfo']])
mt_MentionDocTranslationInfo.rename(columns={'MentionDocTranslationInfo':'mt_MentionDocTranslationInfo'}, inplace=True)

In [16]:
df = mentions.merge(mt_MentionDocTranslationInfo, on='GlobalEventID', how='left')

In [17]:
dk = df.merge(export, on='GlobalEventID', how='left')

In [18]:
dk

,GlobalEventID,EventTimeDate,MentionTimeDate,MentionType,MentionSourceName,MentionIdentifier,SentenceID,Actor1CharOffset,Actor2CharOffset,ActionCharOffset,InRawText,Confidence,MentionDocLen,MentionDocTone,MentionDocTranslationInfo,Extras,mt_MentionDocTranslationInfo,Day,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,Actor1Religion1Code,Actor1Religion2Code,Actor1Type1Code,Actor1Type2Code,Actor1Type3Code,Actor2Code,Actor2Name,Actor2CountryCode,Actor2KnownGroupCode,Actor2EthnicCode,Actor2Religion1Code,Actor2Religion2Code,Actor2Type1Code,Actor1Type2Code,Actor1Type3Code,IsRootEvent,EventCode,EventBaseCode,EventRootCode,QuadClass,GoldsteinScale,NumMentions,NumSources,NumArticles,AvgTone,Actor1Geo_Type,Actor1Geo_Fullname,Actor1Geo_CountryCode,Actor1Geo_ADM1Code,Actor1Geo_ADM2Code,Actor1Geo_Lat,Actor1Geo_Long,Actor1Geo_FeatureID,Actor2Geo_Type,Actor2Geo_Fullname,Actor2Geo_CountryCode,Actor2Geo_ADM1Code,Actor2Geo_ADM2Code,Actor2Geo_Lat,Actor2Geo_Long,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_Fullname,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,410412347,20150218230000,20150218230000,1,dailymaverick.co.za,http://www.dailymaverick.co.za/article/2015-02...,19,-1,4594,4634,1,50,6665,-4.477612,NaN,NaN,NaN,20140218.0,201402.0,2014.0,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0.0,43.0,43.0,4.0,1.0,2.8,5.0,1.0,5.0,-4.477612,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,4.0,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,2.015022e+13,http://www.dailymaverick.co.za/article/2015-02...
1,410412348,20150218230000,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN,NaN,20140218.0,201402.0,2014.0,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IND,MUMBAI,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,42.0,42.0,4.0,1.0,1.9,5.0,1.0,5.0,2.078522,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,"Mumbai, Maharashtra, India",IN,IN16,70184,18.9750,72.8258,-2092174,4.0,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.5833,-2090174,2.015022e+13,http://timesofindia.indiatimes.com/city/bengal...
2,410412349,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1297,1232,0,10,2576,7.517084,NaN,NaN,NaN,20140218.0,201402.0,2014.0,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NZL,KIWI,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,42.0,42.0,4.0,1.0,1.9,1.0,1.0,1.0,7.517084,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,4.0,"Great Southern, Victoria, Australia",AS,AS07,5387,-36.0667,146.4830,-1576477,2.015022e+13,http://www.voxy.co.nz/entertainment/coast-new-...
3,410412350,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1298,1233,1,20,2576,7.517084,NaN,NaN,NaN,20140218.0,201402.0,2014.0,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NZL,KIWI,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,42.0,42.0,4.0,1.0,1.9,2.0,1.0,2.0,7.517084,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,1.0,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,2.015022e+13,http://www.voxy.co.nz/entertainment/coast-new-...
4,410412351,20150218230000,20150218230000,1,eastidahonews.com,http://www.eastidahonews.com/2015/02/neil-patr...,1,-1,103,122,1,100,1432,0.000000,NaN,NaN,NaN,20140218.0,201402.0,2014.0,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,LOS ANGELES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,42.0,42.0,4.0,1.0,1.9,10.0,1.0,10.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,2.0,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,2.015022e+13,http://www.eastidahonews.com/2015/02/neil-patr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8549,410414615,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,442,0,20,1994,-3.703704,NaN,NaN,NaN,20150218.0,201502.0,2015.0,2015.1315,ran,RANA,NaN,NaN,ran,NaN,NaN,NaN,NaN,NaN,PAK,PAKISTAN,PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,40.0,40.0,4.0,1.0,1.0,2.0,1.0,2.0,-3.703704,4.0,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,4.0,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,4.0,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,2.015022e+13,http://www.dailytimes.com.pk/national/19-Feb-2...
8550,410414616,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,367,0,20,1994,-3.703704,NaN,NaN,NaN,20150218.0,201502.0,2015.0,2015.1315,ran,RANA,NaN,NaN,ran,NaN,NaN,NaN,NaN,NaN,PAK,PAKISTAN,PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,46.0,46.0,4.0,1.0,7.0,2.0,1.0,2.0,-3.703704,4.0,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,4.0,"Mohin-Jo-Daro, Sindh, Pakistan",PK,PK05,23687,27.3287,68.1325,-2769374,4.0,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,2.015022e+13,http://www.dailytimes.com.pk/national/19-Feb-2...
8551,410232648,20150218100000,20150218230000,1,suttonguardian.co.uk,http://www.suttonguardian.co.uk/news/national/...,6,1870,-1,1803,1,100,5040,-0.738916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8552,410339294,20150218171500,20150218230000,1,edgeboston.com,http://www.edgeboston.com/entertainment/celebr...,2,454,-1,411,1,50,858,6.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8553,410414617,20150218230000,20150218230000,1,bbg.gov,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...,1,318,-1,345,1,100,1584,-0.411523,NaN,NaN,NaN,20150218.0,201502.0,2015.0,2015.1315,tib,TIBETAN,NaN,NaN,tib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,10.0,1.0,1.0,0.0,10.0,1.0,10.0,-0.411523,4.0,"Amdo, Xizang, China",CH,CH14,13213,32.3333,91.6667,-1920650,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,"Amdo, Xizang, China",CH,CH14,13213,32.3333,91.6667,-1920650,2.015022e+13,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...