# Prepocessing GDELT Project

## Import libraries

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 100

import requests
from bs4 import BeautifulSoup
import re
from multiprocessing import Pool
import pandas as pd

import pandas as pd
import numpy as np
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen

import datetime
import time

## Scrapping

### URL : masterfilelist.txt

In [2]:
def masterfilelist():

    response = requests.get("http://data.gdeltproject.org/gdeltv2/masterfilelist.txt")
    content = response.content.decode("utf-8") 
    l = content.split('\n')[:10]

    liste = list()

    for i in l: liste.append(i.split(" ")[-1])

    df = pd.DataFrame(liste, columns=['url'])

    df['date_str'] = df['url'].apply(lambda x : x.split("/")[-1].split(".")[0][0:12])

    df['type_csv'] = df['url'].apply(lambda x : x.lower().split(".csv")[0].split(".")[-1])

    df['id'] = df['date_str']+'_'+df['type_csv']
    
    return df

### URL : masterfilelist-translation.txt

In [3]:
def masterfilelist_translation():

    response = requests.get("http://data.gdeltproject.org/gdeltv2/masterfilelist-translation.txt")
    content = response.content.decode("utf-8") 
    l = content.split('\n')[:10]

    liste = list()

    for i in l: liste.append(i.split(" ")[-1])

    df_translation = pd.DataFrame(liste, columns=['url_translation'])

    df_translation['date_str_translation'] = df_translation['url_translation'].apply(lambda x : x.split("/")[-1].split(".")[0][0:12])

    df_translation['type_csv_translation'] = df_translation['url_translation'].apply(lambda x : '_'.join(x.lower().split(".csv")[0].split(".")[-2:]))

    df_translation['type_csv'] = df_translation['url_translation'].apply(lambda x : x.lower().split(".csv")[0].split(".")[-1])

    df_translation['id'] = df_translation['date_str_translation']+'_'+df_translation['type_csv']

    df_translation = df_translation.drop(columns=['type_csv'])

    return df_translation

### Vérification de l'url

In [4]:
def verify_url(u):
    try:
        url = urlopen(u) 
        k = u.split("/")[-1].split(".zip")[0]
        zipfile = ZipFile(BytesIO(url.read()))
        FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t", engine='python')
        return True
        pass

    except:
        return False
        pass

### Merge masterfile.txt and masterfile_translation.txt

In [5]:
def merge_table(df, df_translation):
    
    # - left join des tableaux
    # - Première séléction : Supprimons les lignes où des NaN apparait
    # - Vérification URL
    
    result = df.merge(df_translation, on='id', how='left').dropna(axis='rows')
    result['work'] = result['url'].apply(lambda x : verify_url(x))
    result['work_translation'] = result['url_translation'].apply(lambda x : verify_url(x))
    return result

### Clean dataset

In [6]:
def clean_dataset(df):
    for i in range(df.shape[0]):
        if df.iloc[i,2] == "gkg" and df.iloc[i,7] == False:
            df.iloc[i+1,7] = False
            df.iloc[i+2,7] = False

        elif df.iloc[i,2] == "export" and df.iloc[i,7] == False:
            df.iloc[i-1,7] = False
            df.iloc[i+1,7] = False

        elif df.iloc[i,2] == "mentions" and df.iloc[i,7] == False:
            df.iloc[i-2,7] = False
            df.iloc[i-1,7] = False

        elif df.iloc[i,6] == "translation_gkg" and df.iloc[i,8] == False:
            df.iloc[i+1,8] = False
            df.iloc[i+2,8] = False

        elif df.iloc[i,6] == "translation_export" and df.iloc[i,8] == False:
            df.iloc[i-1,8] = False
            df.iloc[i+1,8] = False

        elif df.iloc[i,6] == "translation_mentions" and df.iloc[i,8] == False:
            df.iloc[i-2,8] = False
            df.iloc[i-1,8] = False
            
    return df

### Seconde vérification

In [7]:
def second_select(result):

    # deuxième séléction
    # date_time
    
    result = result.copy()
    result = result.loc[(result['work'] == True ) & (result['work_translation'] == True)]
    result["date_str"] = pd.to_datetime(result["date_str"], format='%Y%m%d%H%M')
    
    return result

### On sélectionne les url en fonction de la date

In [8]:
def select_url_by_datetime(df, start_date, end_date):
    
    # Choix d'un interval de temps
    
    start_datem = datetime.datetime.strptime(start_date, "%Y-%m-%d %H:%M:%S")
    end_datem = datetime.datetime.strptime(end_date, "%Y-%m-%d %H:%M:%S")
    dk = df.loc[(result['date_str'] >= start_datem) & (df['date_str'] <= end_datem)]
    return dk

### Fusion des tables

In [9]:
def concat_table(result):
    
    # Séparation des données de base et de translation ET concaténation 
    
    df_base = result[['url', 'type_csv']]

    df_translation = result[['url_translation', 'type_csv_translation']]

    df_translation = df_translation.rename(columns={'url_translation': "url", 'type_csv_translation': "type_csv"})

    final = pd.concat([df_base, df_translation])
    
    return final

### Lecture des zips

In [10]:
def read_zip(final):
    
    export               = final.loc[final['type_csv'] == 'export', 'url']
    mentions             = final.loc[final['type_csv'] == 'mentions', 'url']
    gkg                  = final.loc[final['type_csv'] == 'gkg', 'url']
    translation_export   = final.loc[final['type_csv'] == 'translation_export', 'url']
    translation_mentions = final.loc[final['type_csv'] == 'translation_mentions', 'url']
    translation_gkg      = final.loc[final['type_csv'] == 'translation_gkg', 'url']
    
    df_export               = list()
    df_mentions             = list()
    df_gkg                  = list()
    df_translation_export   = list()
    df_translation_mentions = list()
    df_translation_gkg      = list()
    
    for i in export.tolist():
        url = urlopen(i) 
        k = i.split("/")[-1].split(".zip")[0]
        zipfile = ZipFile(BytesIO(url.read()))
        FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t", engine='python')
        df_export.append(FFdata)
        
    for i in mentions.tolist():
        url = urlopen(i) 
        k = i.split("/")[-1].split(".zip")[0]
        zipfile = ZipFile(BytesIO(url.read()))
        FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t", engine='python')
        df_mentions.append(FFdata)
        
    for i in gkg.tolist():
        url = urlopen(i) 
        k = i.split("/")[-1].split(".zip")[0]
        zipfile = ZipFile(BytesIO(url.read()))
        FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t", engine='python')
        df_gkg.append(FFdata)
        
    for i in translation_export.tolist():
        url = urlopen(i) 
        k = i.split("/")[-1].split(".zip")[0]
        zipfile = ZipFile(BytesIO(url.read()))
        FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t", engine='python')
        df_translation_export.append(FFdata)
        
    for i in translation_mentions.tolist():
        url = urlopen(i) 
        k = i.split("/")[-1].split(".zip")[0]
        zipfile = ZipFile(BytesIO(url.read()))
        FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t", engine='python')
        df_translation_mentions.append(FFdata)
        
    for i in translation_gkg.tolist():
        url = urlopen(i) 
        k = i.split("/")[-1].split(".zip")[0]
        zipfile = ZipFile(BytesIO(url.read()))
        FFdata = pd.read_csv(zipfile.open(k), header=None,on_bad_lines='skip', sep="\t", engine='python')
        df_translation_gkg.append(FFdata)
        
    export = pd.concat(df_export)
    mentions = pd.concat(df_mentions)
    gkg = pd.concat(df_gkg)

    export_translation = pd.concat(df_translation_export)
    mentions_translation = pd.concat(df_translation_mentions)
    gkg_translation = pd.concat(df_translation_gkg)
        
    return export, mentions, gkg, export_translation, mentions_translation, gkg_translation

### Execution des fonctions

In [11]:
start_time = time.time()

df = masterfilelist()

df_translation = masterfilelist_translation()

result = merge_table(df, df_translation)

result = clean_dataset(result)

result = second_select(result)

result = select_url_by_datetime(result, '2015-02-18 23:00:00', '2015-02-19 06:00:00')

final = concat_table(result)

export, mentions, gkg, translation_export, translation_mentions, translation_gkg = read_zip(final)

print("-------- %s seconde --------" % (time.time() - start_time))

-------- 87.2372317314148 seconde --------

### On visualise les dataframes

In [12]:
export

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60
0,410412347,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,43,43,4,1,2.8,5,1,5,-4.477612,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,4,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,20150218230000,http://www.dailymaverick.co.za/article/2015-02...
1,410412348,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IND,MUMBAI,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,5,1,5,2.078522,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Mumbai, Maharashtra, India",IN,IN16,70184,18.9750,72.8258,-2092174,4,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.5833,-2090174,20150218230000,http://timesofindia.indiatimes.com/city/bengal...
2,410412349,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NZL,KIWI,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,1,1,1,7.517084,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,4,"Great Southern, Victoria, Australia",AS,AS07,5387,-36.0667,146.4830,-1576477,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
3,410412350,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NZL,KIWI,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,2,1,2,7.517084,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,1,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,20150218230000,http://www.voxy.co.nz/entertainment/coast-new-...
4,410412351,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,LOS ANGELES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,10,1,10,0.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,2,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,20150218230000,http://www.eastidahonews.com/2015/02/neil-patr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2079,410420483,20150218,201502,2015,2015.1315,nai,NATIVE AMERICAN,NaN,NaN,nai,NaN,NaN,NaN,NaN,NaN,EDU,SCHOOL,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,40,40,4,1,1.0,1,1,1,0.719942,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.8951,-77.0364,531871,3,"Department Of Education, District of Columbia,...",US,USDC,NaN,38.8862,-77.0183,530857,3,"Department Of Education, District of Columbia,...",US,USDC,NaN,38.8862,-77.0183,530857,20150218233000,https://www.ed.gov/feed
2080,410420484,20150218,201502,2015,2015.1315,nai,NATIVE AMERICAN,NaN,NaN,nai,NaN,NaN,NaN,NaN,NaN,EDU,SCHOOL,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,40,40,4,1,1.0,3,1,3,0.719942,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.8951,-77.0364,531871,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.8951,-77.0364,531871,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.8951,-77.0364,531871,20150218233000,https://www.ed.gov/feed
2081,410420485,20150218,201502,2015,2015.1315,tam,TAMIL,NaN,NaN,tam,NaN,NaN,NaN,NaN,NaN,LKA,JAFFNA,LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,36,36,3,1,4.0,10,1,10,-1.145038,4,"Delhi, Delhi, India",IN,IN07,17911,28.6667,77.2167,-2094230,4,"Delhi, Delhi, India",IN,IN07,17911,28.6667,77.2167,-2094230,4,"Delhi, Delhi, India",IN,IN07,17911,28.6667,77.2167,-2094230,20150218233000,http://economictimes.indiatimes.com/news/polit...
2082,410420486,20150218,201502,2015,2015.1315,tms,TAMA,NaN,NaN,tms,NaN,NaN,NaN,NaN,NaN,EDU,PROFESSOR,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,30,30,3,1,4.0,10,1,10,-2.522936,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150218233000,http://www.inquisitr.com/1853423/reports-confi...
2083,410420487,20150218,201502,2015,2015.1315,urd,URDU,NaN,NaN,urd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,51,51,5,1,3.4,10,1,10,-2.215190,4,"Delhi, Delhi, India",IN,IN07,17911,28.6667,77.2167,-2094230,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Delhi, Delhi, India",IN,IN07,17911,28.6667,77.2167,-2094230,20150218233000,http://timesofindia.indiatimes.com/city/mumbai...

In [13]:
mentions

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,410412347,20150218230000,20150218230000,1,dailymaverick.co.za,http://www.dailymaverick.co.za/article/2015-02...,19,-1,4594,4634,1,50,6665,-4.477612,NaN,NaN
1,410412348,20150218230000,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN
2,410412349,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1297,1232,0,10,2576,7.517084,NaN,NaN
3,410412350,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1298,1233,1,20,2576,7.517084,NaN,NaN
4,410412351,20150218230000,20150218230000,1,eastidahonews.com,http://www.eastidahonews.com/2015/02/neil-patr...,1,-1,103,122,1,100,1432,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8852,410360463,20150218184500,20150218231500,1,smh.com.au,http://news.smh.com.au/technology/sci-tech/sci...,8,3425,-1,3475,1,60,3707,-1.426307,NaN,NaN
8853,410360464,20150218184500,20150218231500,1,smh.com.au,http://news.smh.com.au/technology/sci-tech/sci...,7,2648,-1,2628,1,30,3707,-1.426307,NaN,NaN
8854,410281940,20150218133000,20150218231500,1,smh.com.au,http://news.smh.com.au/technology/sci-tech/sci...,8,3425,3442,3486,0,20,3707,-1.426307,NaN,NaN
8855,410281941,20150218133000,20150218231500,1,smh.com.au,http://news.smh.com.au/technology/sci-tech/sci...,7,2648,2665,2628,0,10,3707,-1.426307,NaN,NaN
8856,410350724,20150218180000,20150218231500,1,modernghana.com,http://www.modernghana.com/news/599511/1/on-th...,17,7901,7821,7863,1,40,23740,-1.210328,NaN,NaN

In [14]:
gkg

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26
0,20150218230000-0,20150218230000,2,BBC Monitoring,as listed in Russian /BBC Monitoring/(c) BBC,"ARREST#400#political#4#Rossiya, Orenburgskaya ...","ARREST#400#political#4#Rossiya, Orenburgskaya ...",TERROR;REBELS;TAX_ETHNICITY;TAX_ETHNICITY_UKRA...,"TAX_FNCACT,2011;TAX_FNCACT,3449;TAX_FNCACT,381...","4#Budapest, Budapest, Hungary#RS#HU05#47.5#19....","4#Novorossiya, Primorskiy Kray, Russia#RS#RS59...",petro poroshenko;arkadiy dvorkovich;gen aleksa...,"Petro Poroshenko,2326;Arkadiy Dvorkovich,3483;...",gazprom,"Gazprom,666","-5.3475935828877,2.13903743315508,7.4866310160...",NaN,"wc:693,c1.1:1,c1.2:1,c12.1:43,c12.10:58,c12.11...",NaN,NaN,NaN,NaN,1332|134||prisoners are treated humanely ; the...,"Channel One,628;Channel One,755;Channel One,14...","3,channels,476;3,channels reported,824;1,corre...",NaN,NaN
1,20150218230000-1,20150218230000,2,BBC Monitoring,"Al-Sharq al-Awsat website, London/BBC Monitori...",NaN,NaN,TAX_FNCACT;TAX_FNCACT_ENVOY;TAX_ETHNICITY;TAX_...,"IDEOLOGY,6790;IDEOLOGY,10592;KILL,1960;KILL,13...",1#Qatar#SA#QA#25.5#51.25#QA;1#Syria#SA#SY#35#3...,1#Turks#SA#TU##39#35#TU#9059;1#Syrian#SA#SY##3...,al-arab kobane;emrullah isler;nasirite alawite...,"Al-Arab Kobane,4903;Emrullah Isler,77;Nasirite...",development party;united states,"Development Party,3577;Development Party,3746;...","-0.54054054054054,3.82239382239382,4.362934362...",NaN,"wc:2376,c1.2:1,c1.4:7,c12.1:163,c12.10:276,c12...",NaN,NaN,NaN,NaN,332|26||greatly complicate matters#4494|37||ma...,"Emrullah Isler,83;Arab Spring,3571;Development...","2,fronts at the political,1455;2,main strategi...",NaN,NaN
2,20150218230000-2,20150218230000,1,wjon.com,http://wjon.com/wjon-news-on-demand-wednesday-...,NaN,NaN,MANMADE_DISASTER;MANMADE_DISASTER_WITHOUT_POWE...,"MANMADE_DISASTER,91;POWER_OUTAGE,91;",NaN,NaN,NaN,NaN,NaN,NaN,"0,0,0,0,29.7029702970297,0.99009900990099,93",NaN,"wc:93,c12.1:7,c12.10:10,c12.12:5,c12.13:4,c12....",http://wac.450F.edgecastcdn.net/80450F/wjon.co...,http:/wac.450F.edgecastcdn.net/80450F/wjon.com...,NaN,https://youtube.com/channel/;https://youtube.c...,NaN,"Waite Park,125;City Food,233;Adobe Flash Playe...","500,people were without power,51;",NaN,NaN
3,20150218230000-3,20150218230000,1,wjol.com,http://www.wjol.com/common/more.php?m=15&r=3&i...,NaN,NaN,LEADER;TAX_FNCACT;TAX_FNCACT_GOVERNOR;TAX_POLI...,"TAX_FNCACT,131;TAX_POLITICAL_PARTY,664;TAX_FNC...","2#Wisconsin, United States#US#USWI#44.2563#-89...","2#Wisconsin, United States#US#USWI##44.2563#-8...",michael madigan;rahm emanuel;jesus chuy garcia,"Michael Madigan,147;Rahm Emanuel,313;Jesus Chu...",NaN,NaN,"-4.58715596330275,1.8348623853211,6.4220183486...",NaN,"wc:103,c12.1:4,c12.10:13,c12.12:7,c12.13:6,c12...",NaN,NaN,NaN,NaN,NaN,"Governor Rauner,41;Speaker Michael Madigan,158...",NaN,NaN,NaN
4,20150218230000-4,20150218230000,1,straitstimes.com,http://www.straitstimes.com:80/news/world/unit...,NaN,NaN,DRONES;TAX_WORLDMAMMALS;TAX_WORLDMAMMALS_MICE;...,"TAX_FNCACT,634;TAX_FNCACT,1248;TAX_FNCACT,907;...","1#United States#US#US#38#-97#US;3#Miami, Flori...","3#Miami, Florida, United States#US#USFL#FL086#...",omid farokhzad,"Omid Farokhzad,885",columbia university medical centre;harvard med...,"Columbia University Medical Centre,680;Harvard...","-1.80505415162455,3.6101083032491,5.4151624548...",4#2#18#0#706,"wc:255,c12.1:10,c12.10:28,c12.12:11,c12.13:7,c...",http://www.straitstimes.com/sites/straitstimes...,NaN,NaN,NaN,NaN,"United States,583;Columbia University Medical ...","5,weeks,1194;",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2990,20150218231500-26,20150218231500,1,hr.com,http://www.hr.com/post/1678340,NaN,NaN,TAX_FNCACT;TAX_FNCACT_LEADERS;,"TAX_FNCACT,424;",NaN,NaN,NaN,NaN,NaN,NaN,"1.98019801980198,4.95049504950495,2.9702970297...",NaN,"wc:89,c12.1:4,c12.10:9,c12.12:3,c12.13:3,c12.1...",http://www.hr.com/post/1678340/picture,NaN,NaN,https://youtube.com/hrcomonline;,NaN,NaN,"3,things have,79;3,must,206;3,must,337;",NaN,NaN
2991,20150218231500-27,20150218231500,1,bostonherald.com,http://www.bostonherald.com/comments/1064756888,NaN,NaN,MEDIA_SOCIAL;,"MEDIA_SOCIAL,28;",NaN,NaN,NaN,NaN,communications decency;facebook,"Communications Decency,570;Facebook,28","1.81818181818182,4.54545454545455,2.7272727272...",NaN,"wc:103,c1.3:1,c12.1:13,c12.10:13,c12.12:1,c12....",http://www.bostonherald.com/sites/default/file...,NaN,NaN,https://youtube.com/user/bostonherald;,NaN,"Communications Decency Act,588","230,of the Communications Decency,444;",NaN,NaN
2992,20150218231500-28,20150218231500,1,wtaq.com,http://wtaq.com/news/articles/2015/feb/18/ebol...,KILL#40#new#1#Guinea#GV#GV#11#-10#GV;KILL#9##1...,KILL#40#new#1#Guinea#GV#GV#11#-10#GV#911;KILL#...,TAX_DISEASE;TAX_DISEASE_EBOLA;GENERAL_HEALTH;M...,"GENERAL_HEALTH,219;GENERAL_HEALTH,539;GENERAL_...","1#Liberia#SL#LI#6.5#-9.5#LI;4#Freetown, Wester...",1#Sierra Leone#SL#SL##8.5#-11.5#SL#343;1#Sierr...,joe bavier;toni reinhold,"Joe Bavier,1271;Toni Reinhold,1298",world health organization;reuters,"World Health Organization,232;Reuters,30","-3.72093023255814,1.86046511627907,5.581395348...",NaN,"wc:198,c12.1:7,c12.10:18,c12.12:14,c12.13:3,c1...",NaN,NaN,NaN,NaN,NaN,"World Health Organization,251;Sierra Leone,931...","128,new confirmed cases of,38;3,weeks,103;52,n...",NaN,NaN
2993,20150218231500-29,20150218231500,1,dailystar.com.lb,http://dailystar.com.lb/News/Middle-East/2015/...,"ARREST#17##4#Kurdistan, Khuzestan, Iran#IR#IR1...","ARREST#17##4#Kurdistan, Khuzestan, Iran#IR#IR1...",KILL;TAX_ETHNICITY;TAX_ETHNICITY_IRANIAN;TAX_F...,"ARREST,462;TAX_WORLDMAMMALS,583;TAX_WORLDMAMMA...","4#Kurdistan, Khuzestan, Iran#IR#IR15#30.6693#5...","4#Kurdistan, Khuzestan, Iran#IR#IR15#41008#30....",saman naseem;christof heyns;ahmed shaheed,"Saman Naseem,217;Christof Heyns,617;Ahmed Shah...",amnesty international;international federation...,"Amnesty International,1081;International Feder...","-5.68720379146919,4.2654028436019,9.9526066350...",NaN,"wc:194,c12.1:14,c12.10:26,c12.11:1,c12.12:9,c1...",http://www.dailystar.com.lb/dailystar/Pictures...,NaN,NaN,NaN,NaN,"Iranian Kurdish,114;Free Life,319;Christof Hey...","17,at the time of,341;",NaN,NaN
2994,20150218231500-30,20150218231500,1,law360.com,http://www.law360.com/articles/622296/shoe-ret...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_RETAILER;TAX_FNCACT_MANA...,"TAX_FNCACT,170;TAX_FNCACT,450;TAX_FNCACT,141;T...","2#New York, United States#US#USNY#42.1497#-74....","2#New York, United States#US#USNY##42.1497#-74...",NaN,NaN,pm et payless shoesource inc,NaN,"-3.88349514563107,1.94174757281553,5.825242718...",NaN,"wc:91,c12.1:4,c12.10:8,c12.12:4,c12.14:5,c12.3...",http://www.law360.com/images/360.png,NaN,NaN,NaN,NaN,"New York,24;Fair Labor Standards Act,594","197,class members,339;",NaN,NaN

In [15]:
translation_export

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60
0,410414618,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRM,THIEVES,NaN,NaN,NaN,NaN,NaN,CRM,NaN,NaN,1,40,40,4,1,1.0,4,1,4,-5.576923,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Prague, Praha, Hlavníesto, Czech Republic",EZ,EZ52,14865,50.0833,14.4667,-553173,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,20150218230000,http://www.novinky.cz/krimi/361969-majitele-ga...
1,410414619,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRM,THIEVES,NaN,NaN,NaN,NaN,NaN,CRM,NaN,NaN,1,40,40,4,1,1.0,6,1,6,-5.576923,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Prague, Praha, Hlavníesto, Czech Republic",EZ,EZ52,14865,50.0833,14.4667,-553173,4,"Prague, Praha, Hlavníesto, Czech Republic",EZ,EZ52,14865,50.0833,14.4667,-553173,20150218230000,http://www.novinky.cz/krimi/361969-majitele-ga...
2,410414620,20140218,201402,2014,2014.1315,COP,POLICEMEN,NaN,NaN,NaN,NaN,NaN,COP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,112,112,11,3,-2.0,4,1,4,-5.576923,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,20150218230000,http://www.novinky.cz/krimi/361969-majitele-ga...
3,410414621,20140218,201402,2014,2014.1315,COP,POLICEMEN,NaN,NaN,NaN,NaN,NaN,COP,NaN,NaN,CZE,CZECH REPUBLIC,CZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,112,112,11,3,-2.0,6,1,6,-5.576923,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,20150218230000,http://www.novinky.cz/krimi/361969-majitele-ga...
4,410414622,20140218,201402,2014,2014.1315,CRM,THIEVES,NaN,NaN,NaN,NaN,NaN,CRM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,10,1,10,-5.576923,4,"Rumburk, Czech Republic (general), Czech Republic",EZ,EZ00,16560,50.9536,14.5538,-554298,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Rumburk, Czech Republic (general), Czech Republic",EZ,EZ00,16560,50.9536,14.5538,-554298,20150218230000,http://www.novinky.cz/krimi/361969-majitele-ga...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,410421151,20150218,201502,2015,2015.1315,VENOPP,VENEZUELA,VEN,NaN,NaN,NaN,NaN,OPP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,6,1,6,-4.156479,1,Venezuela,VE,VE,NaN,8.0000,-66.0000,VE,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Venezuela,VE,VE,NaN,8.0000,-66.0000,VE,20150218233000,http://elcomercio.pe/politica/actualidad/jorge...
664,410421152,20150218,201502,2015,2015.1315,VENOPP,VENEZUELA,VEN,NaN,NaN,NaN,NaN,OPP,NaN,NaN,VEN,VENEZUELA,VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,4,1,4,-4.156479,1,Venezuela,VE,VE,NaN,8.0000,-66.0000,VE,1,Venezuela,VE,VE,NaN,8.0000,-66.0000,VE,1,Venezuela,VE,VE,NaN,8.0000,-66.0000,VE,20150218233000,http://elcomercio.pe/politica/actualidad/jorge...
665,410421153,20150218,201502,2015,2015.1315,YEM,YEMEN,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CVL,COMMUNITY,NaN,NaN,NaN,NaN,NaN,CVL,NaN,NaN,1,42,42,4,1,1.9,10,1,10,1.408451,1,Yemen,YM,YM,NaN,15.0000,48.0000,YM,1,Yemen,YM,YM,NaN,15.0000,48.0000,YM,1,Yemen,YM,YM,NaN,15.0000,48.0000,YM,20150218233000,http://yemenakhbar.com/yemen-news/146446.html
666,410421154,20150218,201502,2015,2015.1315,idg,INDIGENOUS,NaN,NaN,idg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36,36,3,1,4.0,10,1,10,4.545455,1,United States,US,US,NaN,38.0000,-97.0000,US,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,United States,US,US,NaN,38.0000,-97.0000,US,20150218233000,http://tiempo.com.mx/_notas/2112050
667,410421155,20150218,201502,2015,2015.1315,khm,KHMER,NaN,NaN,khm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,31,31,3,1,5.2,10,1,10,0.904977,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150218233000,http://laextra.mx/chaqueta-mental-pero-vale-se...

In [16]:
translation_mentions

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,410108590,20150218000000,20150218230000,1,surenio.com.ar,http://www.surenio.com.ar/index.php?s=!notas20...,4,1355,-1,1440,1,100,1653,-0.760456,srclc:spa;eng:GT-SPA 1.0,NaN
1,410414618,20150218230000,20150218230000,1,novinky.cz,http://www.novinky.cz/krimi/361969-majitele-ga...,3,-1,1330,1376,0,40,3254,-5.576923,srclc:ces;eng:GT-CES 1.0,NaN
2,410414619,20150218230000,20150218230000,1,novinky.cz,http://www.novinky.cz/krimi/361969-majitele-ga...,3,-1,1330,1376,1,60,3254,-5.576923,srclc:ces;eng:GT-CES 1.0,NaN
3,410353873,20150218181500,20150218230000,1,bt.no,http://www.bt.no/nyheter/lokalt/--Sokte-pa-dra...,5,-1,445,433,1,100,3254,-6.496063,srclc:nor;eng:GT-NOR 1.0,NaN
4,410414620,20150218230000,20150218230000,1,novinky.cz,http://www.novinky.cz/krimi/361969-majitele-ga...,4,1518,-1,1528,1,40,3254,-5.576923,srclc:ces;eng:GT-CES 1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2543,410418401,20150218231500,20150218231500,1,abounderrattelser.fi,http://www.abounderrattelser.fi/news/2015/02/h...,2,408,416,443,0,20,3930,-1.041667,srclc:swe;eng:GT-SWE 1.0,NaN
2544,410211801,20150218081500,20150218231500,1,fasopresse.net,http://www.fasopresse.net/international/4042-c...,6,1723,1702,1650,0,10,5330,-1.578354,srclc:fra;eng:Moses 2.1.1 / MosesCore Europarl...,NaN
2545,410211802,20150218081500,20150218231500,1,fasopresse.net,http://www.fasopresse.net/international/4042-c...,6,1710,1702,1650,1,70,5330,-1.578354,srclc:fra;eng:Moses 2.1.1 / MosesCore Europarl...,NaN
2546,410418402,20150218231500,20150218231500,1,rnv.gob.ve,http://www.rnv.gob.ve/index.php/zulia-movimien...,1,7,-1,28,1,100,2122,-3.273810,srclc:spa;eng:Moses 2.1.1 / MosesCore Europarl...,NaN
2547,410418403,20150218231500,20150218231500,1,dailythanthi.com,http://www.dailythanthi.com/News/State/2015/02...,2,1705,-1,1746,1,100,4013,-0.338409,srclc:tam;eng:GT-TAM 1.0,NaN

In [17]:
translation_gkg

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26
0,20150218230000-T0,20150218230000,1,literarky.cz,http://www.literarky.cz/komentare/ostatni/1930...,NaN,NaN,EDUCATION;TAX_FNCACT;TAX_FNCACT_AUTHOR;TAX_FNC...,"TAX_FNCACT,8270;MEDIA_MSM,13973;TAX_WORLDMAMMA...",NaN,NaN,NaN,NaN,NaN,NaN,"-0.27047913446677,2.51159196290572,2.782071097...",1#0#0#2010#14975,"wc:2405,c1.1:3,c1.2:2,c1.3:4,c1.4:7,c12.1:260,...",http://www.literarky.cz/images/2015/ART/Rodin-...,NaN,NaN,https://youtube.com/embed/GXaQrfj-th0;https://...,NaN,"Where Will,1419;Why Do Not,5697;Because There,...",NaN,srclc:ces;eng:Moses 2.1.1 / MosesCore Europarl...,NaN
1,20150218230000-T1,20150218230000,1,parlamentnilisty.cz,http://www.parlamentnilisty.cz/arena/monitor/P...,NaN,NaN,TAX_ETHNICITY;TAX_ETHNICITY_UKRAINIAN;TAX_WORL...,"GENERAL_GOVERNMENT,42;GENERAL_GOVERNMENT,264;G...","1#Russia#UP#RS#60#100#RS;4#Kyiv, Kyyiv, Misto,...",1#Russians#UP#RS##60#100#RS#1858;1#Ukrainian#U...,NaN,NaN,NaN,NaN,"-5.1685393258427,1.12359550561798,6.2921348314...",NaN,"wc:421,c1.3:1,c12.1:33,c12.10:57,c12.12:19,c12...",NaN,NaN,NaN,NaN,NaN,"Debal'tseve Ukrainian Government,44;Army Expla...",NaN,srclc:ces;eng:Moses 2.1.1 / MosesCore Europarl...,NaN
2,20150218230000-T2,20150218230000,1,vecernikpv.cz,http://www.vecernikpv.cz/co-se-stalo/zpravodaj...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CITIZENS;TRAFFIC;TRIAL;L...,"TAX_FNCACT,2280;TRAFFIC,277;TRAFFIC,1264;ARMED...",NaN,NaN,jan nagy;petr kapounek,"Jan Nagy,1919;Petr Kapounek,2380",NaN,NaN,"-3.45528455284553,1.01626016260163,4.471544715...",NaN,"wc:468,c1.3:1,c12.1:33,c12.10:37,c12.12:16,c12...",NaN,http:/www.vecernikpv.cz/media/system/images/li...,NaN,NaN,NaN,"Petition From,428;August Last,1046;Now There,1...",NaN,srclc:ces;eng:Moses 2.1.1 / MosesCore Europarl...,NaN
3,20150218230000-T3,20150218230000,1,parlamentnilisty.cz,http://www.parlamentnilisty.cz/arena/monitor/P...,NaN,NaN,EDUCATION;,"EDUCATION,12;",NaN,NaN,NaN,NaN,university john amos,"University John Amos,188","0.710900473933649,3.55450236966825,2.843601895...",NaN,"wc:403,c12.1:20,c12.10:46,c12.12:16,c12.13:19,...",NaN,http:/cms.parlamentnilisty.cz/image.ashx,NaN,NaN,NaN,"University John Amos,189;Confirmed As Well,513...","2,of its regional branches,1389;200,work,1763;",srclc:ces;eng:Moses 2.1.1 / MosesCore Europarl...,NaN
4,20150218230000-T4,20150218230000,1,novinky.cz,http://www.novinky.cz/koktejl/362005-za-sest-h...,NaN,NaN,KILL;TAX_FNCACT;TAX_FNCACT_EMPLOYER;,"TAX_FNCACT,420;KILL,70;",NaN,NaN,NaN,NaN,gazeta wyborcza,"Gazeta Wyborcza,267","2.63157894736842,7.01754385964912,4.3859649122...",NaN,"wc:98,c12.1:7,c12.10:11,c12.12:3,c12.13:3,c12....",http://media.novinky.cz/592/475922-top_foto1-e...,NaN,NaN,NaN,NaN,"Gazeta Wyborcza,305","20000,clean on hand,194;",srclc:ces;eng:Moses 2.1.1 / MosesCore Europarl...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,20150218231500-T340,20150218231500,1,vecer.com,http://www.vecer.com/clanek/201502186096922,NaN,NaN,TAX_ETHNICITY;TAX_ETHNICITY_GREEK;TAX_WORLDLAN...,"ECON_CENTRALBANK,84;MEDIA_MSM,229;TAX_ETHNICIT...","4#Athens, AttikíR, Greece#GR#GR35#37.9833#23.7...",1#French#GR#FR##46#2#FR#211;1#Greece#GR#GR##39...,NaN,NaN,greek national,"Greek National,896","2.63157894736842,3.15789473684211,0.5263157894...",NaN,"wc:181,nwc:213,c1.4:1,c12.1:13,c12.10:17,c12.1...",http://www.vecer.com/dsg/vecer.png,NaN,NaN,https://youtube.com/user/veceronline;,NaN,"World Europe Central,82;Europe Financial,391;W...","1000000000,euros,168;6,months,383;91,s lit Gre...",srclc:slv;eng:GT-SLV 1.0,NaN
3163,20150218231500-T341,20150218231500,1,reporter.si,http://www.reporter.si/comment/221651,NaN,NaN,TAX_FNCACT;TAX_FNCACT_DIRECTOR;TRIAL;TAX_FNCAC...,"TRAFFIC,895;SELF_IDENTIFIED_HUMAN_RIGHTS,2404;...",NaN,NaN,tjan ferk,"Tjan Ferk,247",prosecutors office kangler;maribor county cour...,"Prosecutors Office Kangler,806;Maribor County ...","-5.09090909090909,0.545454545454546,5.63636363...",NaN,"wc:530,nwc:567,c1.4:1,c12.1:30,c12.10:47,c12.1...",NaN,NaN,NaN,NaN,NaN,"Director The Institute,211;Tjan Ferk,255;Every...","91,s total through Her,231;5000000,euros the p...",srclc:slv;eng:GT-SLV 1.0,NaN
3164,20150218231500-T342,20150218231500,1,finance.si,http://www.finance.si/8817734/Ho%C4%8Dem-delat...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CRIMINAL;TAX_FNCACT_AUTH...,"TAX_FNCACT,556;TAX_FNCACT,253;TAX_FNCACT,283;",NaN,NaN,NaN,NaN,NaN,NaN,"-10.8433734939759,3.6144578313253,14.457831325...",NaN,"wc:77,nwc:80,c12.1:8,c12.10:10,c12.12:6,c12.13...",http://beta3.finance.si//pics/cache_de/delo-ss...,NaN,NaN,NaN,NaN,"Editorial Board Finance,87;Criminal Code,264",NaN,srclc:slv;eng:GT-SLV 1.0,NaN
3165,20150218231500-T343,20150218231500,1,finance.si,http://www.finance.si/8817736/Bo-Tu%C5%A1-vend...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CRIMINAL;TAX_FNCACT_AUTH...,"TAX_FNCACT,589;TAX_FNCACT,286;TAX_FNCACT,316;",NaN,NaN,NaN,NaN,NaN,NaN,"-9.89010989010989,3.2967032967033,13.186813186...",NaN,"wc:84,nwc:87,c12.1:9,c12.10:10,c12.12:6,c12.13...",http://beta1.finance.si//pics/cache_tu/tusmobi...,NaN,NaN,NaN,NaN,"Will Be Shower,15;Editorial Board Finance,133;...","1000000,euros for Tu,25;",srclc:slv;eng:GT-SLV 1.0,NaN
3166,20150218231500-T344,20150218231500,1,finance.si,http://www.finance.si/8817728/Karikatura-dneva...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CRIMINAL;TAX_FNCACT_AUTH...,"TAX_FNCACT,568;TAX_FNCACT,265;TAX_FNCACT,295;",NaN,NaN,NaN,NaN,NaN,NaN,"-11.9047619047619,3.57142857142857,15.47619047...",NaN,"wc:80,nwc:80,c12.1:9,c12.10:10,c12.12:6,c12.13...",http://beta1.finance.si//pics/cache_ka/karikat...,NaN,NaN,NaN,NaN,"Editorial Board Finance,99;Criminal Code,276",NaN,srclc:slv;eng:GT-SLV 1.0,NaN

### Pre-processing base table

In [18]:
def rename_columns(export, mentions, gkg, translation_export, translation_mentions, translation_gkg):
    
    for i in range(export.shape[1]):
        export.rename({i: 'export_'+str(i)}, axis=1, inplace=True)
        
    for i in range(mentions.shape[1]):
        mentions.rename({i: 'mentions_'+str(i)}, axis=1, inplace=True)    
        
    for i in range(gkg.shape[1]):
        gkg.rename({i: 'gkg_'+str(i)}, axis=1, inplace=True)
        
    for i in range(translation_export.shape[1]):
        translation_export.rename({i: 'export_translation_'+str(i)}, axis=1, inplace=True)
        
    for i in range(translation_mentions.shape[1]):
        translation_mentions.rename({i: 'mentions_translation_'+str(i)}, axis=1, inplace=True)    
        
    for i in range(translation_gkg.shape[1]):
        translation_gkg.rename({i: 'gkg_translation_'+str(i)}, axis=1, inplace=True)            
    
    return export, mentions, gkg, translation_export, translation_mentions, translation_gkg

export, mentions, gkg, export_translation, mentions_translation, gkg_translation = rename_columns(export, mentions, gkg, translation_export, translation_mentions, translation_gkg)

In [19]:
export_translation

,export_translation_0,export_translation_1,export_translation_2,export_translation_3,export_translation_4,export_translation_5,export_translation_6,export_translation_7,export_translation_8,export_translation_9,export_translation_10,export_translation_11,export_translation_12,export_translation_13,export_translation_14,export_translation_15,export_translation_16,export_translation_17,export_translation_18,export_translation_19,export_translation_20,export_translation_21,export_translation_22,export_translation_23,export_translation_24,export_translation_25,export_translation_26,export_translation_27,export_translation_28,export_translation_29,export_translation_30,export_translation_31,export_translation_32,export_translation_33,export_translation_34,export_translation_35,export_translation_36,export_translation_37,export_translation_38,export_translation_39,export_translation_40,export_translation_41,export_translation_42,export_translation_43,export_translation_44,export_translation_45,export_translation_46,export_translation_47,export_translation_48,export_translation_49,export_translation_50,export_translation_51,export_translation_52,export_translation_53,export_translation_54,export_translation_55,export_translation_56,export_translation_57,export_translation_58,export_translation_59,export_translation_60
0,410414618,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRM,THIEVES,NaN,NaN,NaN,NaN,NaN,CRM,NaN,NaN,1,40,40,4,1,1.0,4,1,4,-5.576923,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Prague, Praha, Hlavníesto, Czech Republic",EZ,EZ52,14865,50.0833,14.4667,-553173,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,20150218230000,http://www.novinky.cz/krimi/361969-majitele-ga...
1,410414619,20140218,201402,2014,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRM,THIEVES,NaN,NaN,NaN,NaN,NaN,CRM,NaN,NaN,1,40,40,4,1,1.0,6,1,6,-5.576923,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Prague, Praha, Hlavníesto, Czech Republic",EZ,EZ52,14865,50.0833,14.4667,-553173,4,"Prague, Praha, Hlavníesto, Czech Republic",EZ,EZ52,14865,50.0833,14.4667,-553173,20150218230000,http://www.novinky.cz/krimi/361969-majitele-ga...
2,410414620,20140218,201402,2014,2014.1315,COP,POLICEMEN,NaN,NaN,NaN,NaN,NaN,COP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,112,112,11,3,-2.0,4,1,4,-5.576923,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,20150218230000,http://www.novinky.cz/krimi/361969-majitele-ga...
3,410414621,20140218,201402,2014,2014.1315,COP,POLICEMEN,NaN,NaN,NaN,NaN,NaN,COP,NaN,NaN,CZE,CZECH REPUBLIC,CZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,112,112,11,3,-2.0,6,1,6,-5.576923,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,4,"Nymburk, Stredoceský, Czech Republic",EZ,EZ88,14864,50.1904,15.0395,-551621,20150218230000,http://www.novinky.cz/krimi/361969-majitele-ga...
4,410414622,20140218,201402,2014,2014.1315,CRM,THIEVES,NaN,NaN,NaN,NaN,NaN,CRM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,10,1,10,-5.576923,4,"Rumburk, Czech Republic (general), Czech Republic",EZ,EZ00,16560,50.9536,14.5538,-554298,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Rumburk, Czech Republic (general), Czech Republic",EZ,EZ00,16560,50.9536,14.5538,-554298,20150218230000,http://www.novinky.cz/krimi/361969-majitele-ga...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,410421151,20150218,201502,2015,2015.1315,VENOPP,VENEZUELA,VEN,NaN,NaN,NaN,NaN,OPP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,6,1,6,-4.156479,1,Venezuela,VE,VE,NaN,8.0000,-66.0000,VE,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Venezuela,VE,VE,NaN,8.0000,-66.0000,VE,20150218233000,http://elcomercio.pe/politica/actualidad/jorge...
664,410421152,20150218,201502,2015,2015.1315,VENOPP,VENEZUELA,VEN,NaN,NaN,NaN,NaN,OPP,NaN,NaN,VEN,VENEZUELA,VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,4,1,4,-4.156479,1,Venezuela,VE,VE,NaN,8.0000,-66.0000,VE,1,Venezuela,VE,VE,NaN,8.0000,-66.0000,VE,1,Venezuela,VE,VE,NaN,8.0000,-66.0000,VE,20150218233000,http://elcomercio.pe/politica/actualidad/jorge...
665,410421153,20150218,201502,2015,2015.1315,YEM,YEMEN,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CVL,COMMUNITY,NaN,NaN,NaN,NaN,NaN,CVL,NaN,NaN,1,42,42,4,1,1.9,10,1,10,1.408451,1,Yemen,YM,YM,NaN,15.0000,48.0000,YM,1,Yemen,YM,YM,NaN,15.0000,48.0000,YM,1,Yemen,YM,YM,NaN,15.0000,48.0000,YM,20150218233000,http://yemenakhbar.com/yemen-news/146446.html
666,410421154,20150218,201502,2015,2015.1315,idg,INDIGENOUS,NaN,NaN,idg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36,36,3,1,4.0,10,1,10,4.545455,1,United States,US,US,NaN,38.0000,-97.0000,US,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,United States,US,US,NaN,38.0000,-97.0000,US,20150218233000,http://tiempo.com.mx/_notas/2112050
667,410421155,20150218,201502,2015,2015.1315,khm,KHMER,NaN,NaN,khm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,31,31,3,1,5.2,10,1,10,0.904977,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150218233000,http://laextra.mx/chaqueta-mental-pero-vale-se...

### Transform Date fiels into datetime

In [20]:
def date_to_datime(export, mentions, gkg, export_translation, mentions_translation, gkg_translation):
    export["export_1"] = pd.to_datetime(export["export_1"], format='%Y%m%d')
    mentions["mentions_1"] = pd.to_datetime(mentions["mentions_1"], format='%Y%m%d%H%M%S')
    gkg["gkg_1"] = pd.to_datetime(gkg["gkg_1"], format='%Y%m%d%H%M%S')

    export_translation["export_translation_1"] = pd.to_datetime(export_translation["export_translation_1"], format='%Y%m%d')
    mentions_translation["mentions_translation_1"] = pd.to_datetime(mentions_translation["mentions_translation_1"], format='%Y%m%d%H%M%S')
    gkg_translation["gkg_translation_1"] = pd.to_datetime(gkg_translation["gkg_translation_1"], format='%Y%m%d%H%M%S')
    
    return export, mentions, gkg, export_translation, mentions_translation, gkg_translation

export, mentions, gkg, export_translation, mentions_translation, gkg_translation = date_to_datime(export, mentions, gkg, export_translation, mentions_translation, gkg_translation)

In [21]:
mentions_translation

,mentions_translation_0,mentions_translation_1,mentions_translation_2,mentions_translation_3,mentions_translation_4,mentions_translation_5,mentions_translation_6,mentions_translation_7,mentions_translation_8,mentions_translation_9,mentions_translation_10,mentions_translation_11,mentions_translation_12,mentions_translation_13,mentions_translation_14,mentions_translation_15
0,410108590,2015-02-18 00:00:00,20150218230000,1,surenio.com.ar,http://www.surenio.com.ar/index.php?s=!notas20...,4,1355,-1,1440,1,100,1653,-0.760456,srclc:spa;eng:GT-SPA 1.0,NaN
1,410414618,2015-02-18 23:00:00,20150218230000,1,novinky.cz,http://www.novinky.cz/krimi/361969-majitele-ga...,3,-1,1330,1376,0,40,3254,-5.576923,srclc:ces;eng:GT-CES 1.0,NaN
2,410414619,2015-02-18 23:00:00,20150218230000,1,novinky.cz,http://www.novinky.cz/krimi/361969-majitele-ga...,3,-1,1330,1376,1,60,3254,-5.576923,srclc:ces;eng:GT-CES 1.0,NaN
3,410353873,2015-02-18 18:15:00,20150218230000,1,bt.no,http://www.bt.no/nyheter/lokalt/--Sokte-pa-dra...,5,-1,445,433,1,100,3254,-6.496063,srclc:nor;eng:GT-NOR 1.0,NaN
4,410414620,2015-02-18 23:00:00,20150218230000,1,novinky.cz,http://www.novinky.cz/krimi/361969-majitele-ga...,4,1518,-1,1528,1,40,3254,-5.576923,srclc:ces;eng:GT-CES 1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2543,410418401,2015-02-18 23:15:00,20150218231500,1,abounderrattelser.fi,http://www.abounderrattelser.fi/news/2015/02/h...,2,408,416,443,0,20,3930,-1.041667,srclc:swe;eng:GT-SWE 1.0,NaN
2544,410211801,2015-02-18 08:15:00,20150218231500,1,fasopresse.net,http://www.fasopresse.net/international/4042-c...,6,1723,1702,1650,0,10,5330,-1.578354,srclc:fra;eng:Moses 2.1.1 / MosesCore Europarl...,NaN
2545,410211802,2015-02-18 08:15:00,20150218231500,1,fasopresse.net,http://www.fasopresse.net/international/4042-c...,6,1710,1702,1650,1,70,5330,-1.578354,srclc:fra;eng:Moses 2.1.1 / MosesCore Europarl...,NaN
2546,410418402,2015-02-18 23:15:00,20150218231500,1,rnv.gob.ve,http://www.rnv.gob.ve/index.php/zulia-movimien...,1,7,-1,28,1,100,2122,-3.273810,srclc:spa;eng:Moses 2.1.1 / MosesCore Europarl...,NaN
2547,410418403,2015-02-18 23:15:00,20150218231500,1,dailythanthi.com,http://www.dailythanthi.com/News/State/2015/02...,2,1705,-1,1746,1,100,4013,-0.338409,srclc:tam;eng:GT-TAM 1.0,NaN

### Merge Table

mentions_translation + mentions + export

In [22]:
def merge_table(export, mentions, mentions_translation):
    sub_mentions_translation = mentions_translation.loc[:,["mentions_translation_0", "mentions_translation_14"]]
    sub_mentions_translation["mentions_translation_14"] = sub_mentions_translation["mentions_translation_14"].apply(lambda x: x.split(";")[0].split(":")[1])
    
    mentions_mentions_translation = mentions.merge(sub_mentions_translation, left_on='mentions_0', right_on='mentions_translation_0', how='left')
    
    export_mentions_mentions_translation_joined = mentions_mentions_translation.merge(export, left_on="mentions_0", right_on="export_0", how='left')

    return export_mentions_mentions_translation_joined

export_mentions_mentions_translation_joined = merge_table(export, mentions, mentions_translation) 

export_mentions_mentions_translation_joined

,mentions_0,mentions_1,mentions_2,mentions_3,mentions_4,mentions_5,mentions_6,mentions_7,mentions_8,mentions_9,mentions_10,mentions_11,mentions_12,mentions_13,mentions_14,mentions_15,mentions_translation_0,mentions_translation_14,export_0,export_1,export_2,export_3,export_4,export_5,export_6,export_7,export_8,export_9,export_10,export_11,export_12,export_13,export_14,export_15,export_16,export_17,export_18,export_19,export_20,export_21,export_22,export_23,export_24,export_25,export_26,export_27,export_28,export_29,export_30,export_31,export_32,export_33,export_34,export_35,export_36,export_37,export_38,export_39,export_40,export_41,export_42,export_43,export_44,export_45,export_46,export_47,export_48,export_49,export_50,export_51,export_52,export_53,export_54,export_55,export_56,export_57,export_58,export_59,export_60
0,410412347,2015-02-18 23:00:00,20150218230000,1,dailymaverick.co.za,http://www.dailymaverick.co.za/article/2015-02...,19,-1,4594,4634,1,50,6665,-4.477612,NaN,NaN,NaN,NaN,410412347.0,2014-02-18,201402.0,2014.0,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0.0,43.0,43.0,4.0,1.0,2.8,5.0,1.0,5.0,-4.477612,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,4.0,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,2.015022e+13,http://www.dailymaverick.co.za/article/2015-02...
1,410412348,2015-02-18 23:00:00,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN,NaN,NaN,410412348.0,2014-02-18,201402.0,2014.0,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IND,MUMBAI,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,42.0,42.0,4.0,1.0,1.9,5.0,1.0,5.0,2.078522,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,"Mumbai, Maharashtra, India",IN,IN16,70184,18.9750,72.8258,-2092174,4.0,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.5833,-2090174,2.015022e+13,http://timesofindia.indiatimes.com/city/bengal...
2,410412349,2015-02-18 23:00:00,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1297,1232,0,10,2576,7.517084,NaN,NaN,NaN,NaN,410412349.0,2014-02-18,201402.0,2014.0,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NZL,KIWI,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,42.0,42.0,4.0,1.0,1.9,1.0,1.0,1.0,7.517084,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,4.0,"Great Southern, Victoria, Australia",AS,AS07,5387,-36.0667,146.4830,-1576477,2.015022e+13,http://www.voxy.co.nz/entertainment/coast-new-...
3,410412350,2015-02-18 23:00:00,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1298,1233,1,20,2576,7.517084,NaN,NaN,NaN,NaN,410412350.0,2014-02-18,201402.0,2014.0,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NZL,KIWI,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,42.0,42.0,4.0,1.0,1.9,2.0,1.0,2.0,7.517084,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,1.0,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,2.015022e+13,http://www.voxy.co.nz/entertainment/coast-new-...
4,410412351,2015-02-18 23:00:00,20150218230000,1,eastidahonews.com,http://www.eastidahonews.com/2015/02/neil-patr...,1,-1,103,122,1,100,1432,0.000000,NaN,NaN,NaN,NaN,410412351.0,2014-02-18,201402.0,2014.0,2014.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,LOS ANGELES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,42.0,42.0,4.0,1.0,1.9,10.0,1.0,10.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,2.0,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,2.015022e+13,http://www.eastidahonews.com/2015/02/neil-patr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17918,410360463,2015-02-18 18:45:00,20150218231500,1,smh.com.au,http://news.smh.com.au/technology/sci-tech/sci...,8,3425,-1,3475,1,60,3707,-1.426307,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17919,410360464,2015-02-18 18:45:00,20150218231500,1,smh.com.au,http://news.smh.com.au/technology/sci-tech/sci...,7,2648,-1,2628,1,30,3707,-1.426307,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17920,410281940,2015-02-18 13:30:00,20150218231500,1,smh.com.au,http://news.smh.com.au/technology/sci-tech/sci...,8,3425,3442,3486,0,20,3707,-1.426307,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17921,410281941,2015-02-18 13:30:00,20150218231500,1,smh.com.au,http://news.smh.com.au/technology/sci-tech/sci...,7,2648,2665,2628,0,10,3707,-1.426307,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17922,410350724,2015-02-18 18:00:00,20150218231500,1,modernghana.com,http://www.modernghana.com/news/599511/1/on-th...,17,7901,7821,7863,1,40,23740,-1.210328,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
export_mentions_mentions_translation_joined["mentions_translation_14"].isnull().sum()

16870

## Requête 1

In [24]:
def requete_1(export_mentions_mentions_translation_joined):
    requete1 = export_mentions_mentions_translation_joined.loc[:,["export_0", "export_1", "export_53", "mentions_translation_14"]]
    requete1['day'] = requete1["export_1"].dt.day
    requete1['month'] = requete1["export_1"].dt.month
    requete1['year'] = requete1["export_1"].dt.year

    requete1.rename(columns={"export_0" : "id_event",
                            "export_1" : "datetime",
                            "export_53" : "country_code",
                            "mentions_translation_14" : "source_langue"}, inplace=True)
    
    requete1.to_csv(r'C:/HUGO/Ecole/Telecom Paris/COURS/INF_728_Base_de_donnees_non_relationnelles/GDELT Project/requete1.csv', index=False)
    
    return requete1

requete1 = requete_1(export_mentions_mentions_translation_joined)

In [25]:
requete1

          id_event   datetime country_code source_langue   day  month    year
0      410412347.0 2014-02-18           SF           NaN  18.0    2.0  2014.0
1      410412348.0 2014-02-18           IN           NaN  18.0    2.0  2014.0
2      410412349.0 2014-02-18           AS           NaN  18.0    2.0  2014.0
3      410412350.0 2014-02-18           NZ           NaN  18.0    2.0  2014.0
4      410412351.0 2014-02-18           US           NaN  18.0    2.0  2014.0
...            ...        ...          ...           ...   ...    ...     ...
17918          NaN        NaT          NaN           NaN   NaN    NaN     NaN
17919          NaN        NaT          NaN           NaN   NaN    NaN     NaN
17920          NaN        NaT          NaN           NaN   NaN    NaN     NaN
17921          NaN        NaT          NaN           NaN   NaN    NaN     NaN
17922          NaN        NaT          NaN           NaN   NaN    NaN     NaN

[17923 rows x 7 columns]

In [26]:
pd.DataFrame(requete1["country_code"].value_counts())

    country_code
US          2112
LY           886
CA           208
IZ           193
PK           193
..           ...
HK             1
JM             1
HO             1
RI             1
AY             1

[120 rows x 1 columns]

## Requête 2

In [27]:
def requete_2(export): 
    
    requete2 = export.loc[:,["export_0", "export_1", "export_53", "export_26"]]
    requete2['day'] = requete2["export_1"].dt.day
    requete2['month'] = requete2["export_1"].dt.month
    requete2['year'] = requete2["export_1"].dt.year

    requete2.rename(columns={"export_0" : "id_event",
                            "export_1" : "datetime",
                            "export_53" : "country_code",
                            "export_26" : "event_code"}, inplace=True)
    requete2.to_csv(r'C:/HUGO/Ecole/Telecom Paris/COURS/INF_728_Base_de_donnees_non_relationnelles/GDELT Project/requete2.csv', index=False)
    
    return requete2

In [28]:
requete_2 = requete_2(export)

In [29]:
requete_2

       id_event   datetime country_code  event_code  day  month  year
0     410412347 2014-02-18           SF          43   18      2  2014
1     410412348 2014-02-18           IN          42   18      2  2014
2     410412349 2014-02-18           AS          42   18      2  2014
3     410412350 2014-02-18           NZ          42   18      2  2014
4     410412351 2014-02-18           US          42   18      2  2014
...         ...        ...          ...         ...  ...    ...   ...
2079  410420483 2015-02-18           US          40   18      2  2015
2080  410420484 2015-02-18           US          40   18      2  2015
2081  410420485 2015-02-18           IN          36   18      2  2015
2082  410420486 2015-02-18          NaN          30   18      2  2015
2083  410420487 2015-02-18           IN          51   18      2  2015

[6457 rows x 7 columns]

## Requête 3

In [30]:
def requete_3(gkg):    
    requete3 = gkg.loc[:,["gkg_0","gkg_1", "gkg_3", "gkg_7", "gkg_11", "gkg_9", "gkg_15"]]

    requete3['day'] = requete3["gkg_1"].dt.day
    requete3['month'] = requete3["gkg_1"].dt.month
    requete3['year'] = requete3["gkg_1"].dt.year

    requete3.rename(columns={"gkg_0" : "id_gkg",
                             "gkg_1" : "datetime",
                            "gkg_3" : "source_domain",
                            "gkg_7" : "themes",
                            "gkg_11" : "persons", 
                            "gkg_9" : "locations",
                            "gkg_15" : "avg_tone"}, inplace=True)


    requete3["locations"] = requete3["locations"].apply(lambda x : str(x).split(",")[0].split("#")[-1])
    requete3["avg_tone"] = requete3["avg_tone"].apply(lambda x : float(str(x).split(",")[0]))

    requete3.to_csv(r'C:/HUGO/Ecole/Telecom Paris/COURS/INF_728_Base_de_donnees_non_relationnelles/GDELT Project/requete3.csv', index=False)

    return requete3

In [31]:
requete3 = requete_3(gkg)

In [32]:
requete3

,id_gkg,datetime,source_domain,themes,persons,locations,avg_tone,day,month,year
0,20150218230000-0,2015-02-18 23:00:00,BBC Monitoring,TERROR;REBELS;TAX_ETHNICITY;TAX_ETHNICITY_UKRA...,petro poroshenko;arkadiy dvorkovich;gen aleksa...,Budapest,-5.347594,18,2,2015
1,20150218230000-1,2015-02-18 23:00:00,BBC Monitoring,TAX_FNCACT;TAX_FNCACT_ENVOY;TAX_ETHNICITY;TAX_...,al-arab kobane;emrullah isler;nasirite alawite...,Gezi,-0.540541,18,2,2015
2,20150218230000-2,2015-02-18 23:00:00,wjon.com,MANMADE_DISASTER;MANMADE_DISASTER_WITHOUT_POWE...,NaN,nan,0.000000,18,2,2015
3,20150218230000-3,2015-02-18 23:00:00,wjol.com,LEADER;TAX_FNCACT;TAX_FNCACT_GOVERNOR;TAX_POLI...,michael madigan;rahm emanuel;jesus chuy garcia,Wisconsin,-4.587156,18,2,2015
4,20150218230000-4,2015-02-18 23:00:00,straitstimes.com,DRONES;TAX_WORLDMAMMALS;TAX_WORLDMAMMALS_MICE;...,omid farokhzad,Miami,-1.805054,18,2,2015
...,...,...,...,...,...,...,...,...,...,...
2990,20150218231500-26,2015-02-18 23:15:00,hr.com,TAX_FNCACT;TAX_FNCACT_LEADERS;,NaN,nan,1.980198,18,2,2015
2991,20150218231500-27,2015-02-18 23:15:00,bostonherald.com,MEDIA_SOCIAL;,NaN,nan,1.818182,18,2,2015
2992,20150218231500-28,2015-02-18 23:15:00,wtaq.com,TAX_DISEASE;TAX_DISEASE_EBOLA;GENERAL_HEALTH;M...,joe bavier;toni reinhold,Freetown,-3.720930,18,2,2015
2993,20150218231500-29,2015-02-18 23:15:00,dailystar.com.lb,KILL;TAX_ETHNICITY;TAX_ETHNICITY_IRANIAN;TAX_F...,saman naseem;christof heyns;ahmed shaheed,Kurdistan,-5.687204,18,2,2015
2994,20150218231500-30,2015-02-18 23:15:00,law360.com,TAX_FNCACT;TAX_FNCACT_RETAILER;TAX_FNCACT_MANA...,NaN,New York,-3.883495,18,2,2015

## Requête 4

In [36]:
def requete_4(gkg):
    
    requete4 = gkg_translation.loc[:,["gkg_translation_7", "gkg_translation_11", "gkg_translation_9", "gkg_translation_15", "gkg_translation_25"]]

    requete4.rename(columns={"gkg_translation_7" : "themes",
                            "gkg_translation_11" : "persons", 
                            "gkg_translation_9" : "locations",
                            "gkg_translation_15" : "avg_tone",
                            "gkg_translation_25" : "source_langue"}, inplace=True)


    requete4["locations"] = requete4["locations"].apply(lambda x : str(x).split(",")[0].split("#")[-1])
    requete4["avg_tone"] = requete4["avg_tone"].apply(lambda x : float(str(x).split(",")[0]))
    requete4["source_langue"] = requete4["source_langue"].apply(lambda x: x.split(";")[0].split(":")[1])
    
    requete4.to_csv(r'C:/HUGO/Ecole/Telecom Paris/COURS/INF_728_Base_de_donnees_non_relationnelles/GDELT Project/requete4.csv', index=False)


    return requete4

In [37]:
requete4 = requete_4(gkg)

In [38]:
requete4

,themes,persons,locations,avg_tone,source_langue
0,EDUCATION;TAX_FNCACT;TAX_FNCACT_AUTHOR;TAX_FNC...,NaN,nan,-0.270479,ces
1,TAX_ETHNICITY;TAX_ETHNICITY_UKRAINIAN;TAX_WORL...,NaN,Kyiv,-5.168539,ces
2,TAX_FNCACT;TAX_FNCACT_CITIZENS;TRAFFIC;TRIAL;L...,jan nagy;petr kapounek,nan,-3.455285,ces
3,EDUCATION;,NaN,nan,0.710900,ces
4,KILL;TAX_FNCACT;TAX_FNCACT_EMPLOYER;,NaN,nan,2.631579,ces
...,...,...,...,...,...
3162,TAX_ETHNICITY;TAX_ETHNICITY_GREEK;TAX_WORLDLAN...,NaN,Athens,2.631579,slv
3163,TAX_FNCACT;TAX_FNCACT_DIRECTOR;TRIAL;TAX_FNCAC...,tjan ferk,nan,-5.090909,slv
3164,TAX_FNCACT;TAX_FNCACT_CRIMINAL;TAX_FNCACT_AUTH...,NaN,nan,-10.843373,slv
3165,TAX_FNCACT;TAX_FNCACT_CRIMINAL;TAX_FNCACT_AUTH...,NaN,nan,-9.890110,slv
3166,TAX_FNCACT;TAX_FNCACT_CRIMINAL;TAX_FNCACT_AUTH...,NaN,nan,-11.904762,slv

In [39]:
pd.DataFrame(requete4["source_langue"].value_counts())

     source_langue
spa           2168
ara            679
deu            473
fra            398
tur            360
por            355
rus            306
ita            187
zho            135
ron            131
ell            113
swe             84
nor             64
pol             64
nld             61
ind             55
ben             52
srp             43
ukr             35
hun             32
kor             32
dan             31
tam             30
sqi             30
vie             29
est             26
hin             25
fas             25
isl             23
ces             22
hrv             20
slv             19
cat             17
tha             16
urd             15
afr             14
lit             13
fin             13
hye             12
mar             11
bul             11
heb             10
slk              8
mal              7
lav              6
bos              6
axe              3
nno              2
jpn              2
som              2
kat              1